.input-text {
	display: flex;
	align-items: center;
	border: 1px solid #e0e0e0;
	border-radius: 1.5rem;
	transition: border-color .15s ease-in-out;

	&__icon {
		display: flex;
		align-items: center;
		padding: .438rem 1rem;
	}

	input , textarea{
		font-size: 1rem;
		font-weight: 600;
		color: #1e1e20;
		border: none;
		width: 100%;
		padding: .438rem;
		border-radius: 1.5rem;

		&:focus {
			outline: none;
		}
	}

	&.focus {
		border-color: #31baab;
	}
}
