.edit-order {
	.back-btn {
		background-color: transparent;

		svg {
			margin-right: 10px;
		}
	}

	&__description {
		display: flex;
		font-size: 1.15rem;
		font-weight: 600;
		color: #1e1e20;
	}

	&__info-icon {
		margin-right: 10px;

		svg path:last-child {
			fill: #31baab;
		}
	}

	&__filters {
		display: flex;
		justify-content: space-between;
		// flex-wrap: wrap;
	}

	&__filter {
		width: 100%;
		min-width: 180px;
		max-width: 200px;
	}

	&__product-type-btn {
		font-weight: 600 !important;
		color: #1e1e20 !important;
		border-width: 2px !important;
		background-color: #f3f3f5 !important;
		border-color: #f3f3f5 !important;
	}

	&__product-type-btn.active {
		border-color: #31baab !important;
	}
}

@media (min-width: 1550px) {
	.edit-order {
		&__filters {
			// flex-wrap: nowrap;
		}
	}
}
.checkbox__container {
	white-space: nowrap;
	// margin-top: 0.66rem;

	.checkbox__checkbox{
		margin-right: 1.55rem !important;
	}
	.checkbox__checked {
		border-color: #31baab;
		background: #31baab no-repeat 50%/50% 50%
			url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
	}
}
