.combobox {
	position: relative;

	&__select-btn {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: .438rem 1rem;
		border: 1.5px solid #e0e0e0;
		background-color: white;
		border-radius: 1.5rem;
		transition: border-color .15s ease-in-out;
		font-size: 1rem;
		font-weight: 600;
		color: #1e1e20;

		&.focus {
			border-color: #31baab;
		}

		&:focus {
			outline: none;
		}
	}

	&__drop-down {
		list-style: none;
		padding: 24px;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: white;
		box-shadow: 0 4px 20px 0 rgba(176, 175, 175, 0.5);
		border-radius: 4px;
		z-index: 10;

		&_item + &_item {
			margin-top: 1rem;
		}

		&_item {
			&.action-buttons {
				margin-top: 2rem;
				display: flex;
				justify-content: space-between;
			}

			.action-button {
				padding: 7px 22px;
				border-radius: 20px;
				border: solid 1.5px #31baab;
				background-color: #31baab;

				&:focus {
					outline: none;
				}
			}

			.check-btn {
				background-color: white;
			}
		}

		&_custom-checkbox {
			position: relative;
			margin-right: 2rem;

			&:after {
				content: '';
				position: absolute;
				border-radius: .25rem;
				right: -1.3rem;
				width: 1.1rem;
				height: 1.1rem;
				top: .1rem;
				background-color: #fff;
				border: 1px solid #adb5bd;
			}

			&.checked {
				&:after {
					border-color: #31baab;
					background: #31baab no-repeat 50%/50% 50% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
					cursor: pointer !important;
				}
			}

			&.disabled {
				&:after {
					border-color: #c4c4c4;
					background-color: #c4c4c4;
					cursor: default !important;
				}
			}

			&.disabled-checked {
				&:after {
					border-color: #31baab;
					background: #31baab no-repeat 50%/50% 50% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
					cursor: default !important;
				}
			}

			&.semi-checked {
				&:after {
					border-color: #31baab;
					background: #fff no-repeat 50%/50% 50%;
					cursor: pointer !important;
				}

				&:before {
				padding: 5px;
					content: '';
					position: absolute;
					background-color: #31baab;
					right: -1.11rem;
					width: 0.7rem;
					height: 0.15rem;
					top: .30rem;
					z-index: 1;
					cursor: pointer !important;
				}
			}



			&.half-checked {
				&:after {
					border-color: #31baab;
					background: #31baab no-repeat 50%/50% 50%;
				}

				&:before {
					content: '';
					position: absolute;
					background-color: #fff;
					right: -1.11rem;
					width: 0.7rem;
					height: 0.15rem;
					top: .57rem;
					z-index: 1;
					cursor: default;
				}
			}
		}

		&_label {
			display: flex;
			font-size: 1rem;
			cursor: pointer;
		}
	}
}
