.input-number {
	display: flex;
	align-items: center;
	border: 1px solid #e0e0e0;
	border-radius: 1.5rem;
	transition: border-color .15s ease-in-out;


	input {
		font-size: 1rem;
		font-weight: 600;
		color: #1e1e20;
		border: none;
		width: 100%;
		padding: .438rem;
		border-radius: 1.5rem;
		padding: .438rem 1rem;

		&:focus {
			outline: none;
		}
	}

	&.focus {
		border-color: #2684FF;
	}
}



.input-digit {
	display: flex;
	width: 53px !important;
	height: 63px !important;

	align-items: center;
	border: 1.5px solid #e0e0e0;
	border-radius: 8px;
	transition: border-color .15s ease-in-out;


	input {
		font-size: 1.5rem;
		font-weight: 600;
		color: #1e1e20;
		border: none;
		width: 50px !important;
		height: 60px !important;
		border-radius: 8px;
		padding: 16px 19px 18px 20px;
		color: #31baab;

		&:focus {
			outline: none;
		}
	}

	&.focus {
		border-color: #31baab;
	}
}
