html,
body {
    height: 100%;
}

ui-view {
    height: 100%;
}

.loader-wrapper {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loader-wrapper .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;

    border-radius: 50%;
    transform: translate(-50%, -50%);
    border-top: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid #000000;
    -webkit-animation: load8 0.8s infinite linear;
    animation: load8 0.8s infinite linear;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.my-modal{
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.orders-sapak {
    direction: rtl;
    /* position: fixed; */
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 16px;
    /* background-color: #ecf0f1; */
    display: flex;
    flex: 1;
}

.orders-sapak * {
    box-sizing: border-box;
}

.orders-sapak .wrapper {
    width: 100%;
}

.close-page {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}

.close-page .close-page-button {
    padding: 1.5em;
    background: none;
    border: none;
}

.menu-setting {
    position: relative;
    direction: rtl;
    height: 100%;
    width: 100%;
    padding: 5%;
}

.menu-setting .menu {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 0 auto;
    max-width: 400px;
    padding: 2em;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    /* background-color: #2c3e50; */
}

.menu .menu-title {
    font-size: 2em;
}

.menu .menu-form {
    display: flex;
    flex-flow: column;
    /* align-content: center; */
    /* align-items: center; */
}

.menu .menu-form .input-row {
    display: flex;
    margin-bottom: 1em;
    align-content: center;
    align-items: center;
}

.menu .menu-form .input-row .input-label {
    flex: 1;
    font-size: 0.7em;
    color: #ababab;
}

.menu .menu-form .input-row .input-container {
    flex: 3;
}

.menu .menu-form input {
    padding: 1em 2em;
}

.menu .menu-form .submit-button {
    padding: 1.5em 2em;
}

.orders-sapak .order-panel {
    /* flex: 1; */
    display: flex;
    flex-flow: column;
    height: 100%;
}

.orders-sapak .order-panel .panel-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.order-panel .panel-header {
    padding: 1em;
    display: flex;
    background: #34495e;
    color: #ecf0f1;
    /* border-bottom: 1px solid #dadada; */
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.order-panel .panel-header .panel-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.order-panel .panel-header .panel-logo {
    font-size: 1.3em;
}

.order-panel .panel-header .panel-menu {
    display: flex;
}

.order-panel .panel-header .panel-menu .menu-item {
    font-weight: 100;
    padding: 0.25em 1em;
    color: #ecf0f1;
}

.order-panel .panel-header .panel-menu .menu-item:hover {
    background: #ecf0f1;
    color: #34495e;
    cursor: pointer;
}

.order-panel .panel-header .panel-title {
    text-align: initial;
}

.order-panel .panel-content {
    flex: 1;
    /* min-height: 500px; */
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 1em;
    overflow: hidden;
}

.order-panel .panel-content .content-header {
    display: flex;
    justify-content: space-between;
}

.order-panel .panel-content .content-header .content-title {
    margin: 0;
    padding: 0;
}

.order-panel .panel-content .content-header .content-subtitle {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.panel-errors {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.panel-errors .panel-error {
    padding: 1em;
    background-color: #e74c3c;
}

.panel-errors .panel-error .error-close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
}

.order-panel .panel-content .grid-wrapper {
    flex: 1;
    position: relative;
    height: 100%;
    height: 100%;
    /* overflow: auto; */
}

.order-panel .panel-content .grid-wrapper .panel-grid {
    /* flex:1; */
    background: none;
    padding: 0.5em;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.order-panel .panel-content .panel-grid table,
.order-panel .panel-content .panel-grid div,
.order-panel .panel-content .panel-grid input {
    background: none;
}

.order-panel .panel-content .panel-grid .dx-invalid-message .dx-overlay-content {
    background: #e74c3c;
}

.order-panel .panel-content .panel-toolbar {
    display: flex;
    justify-content: space-between;
}

.order-panel .panel-content .panel-toolbar-filters {
    display: flex;
}

.order-panel .panel-content .panel-toolbar-input {
    background-color: #ababab;
}

.order-panel .panel-content .panel-grid.big-rows .dx-datagrid-rowsview .dx-row {
    height: 70px;
    font-size: 1.2em;
    /* vertical-align: center; */
}

.order-panel .panel-content .panel-grid.big-rows .dx-datagrid-rowsview .dx-row td {
    /* padding:1.3em 1em; */
    padding: auto;
    vertical-align: center;
}

.order-panel .grid-table-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.order-panel .grid-table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.grid-table tr {
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.grid-table thead {
    height: 50px;
}

.grid-table thead tr {
    text-align: right;
    color: #ababab;
}

.grid-table thead th {
    padding: 0.5em;
}

.grid-table tbody {
    width: 100%;
}

.grid-table tbody tr {
    padding: 0.2em;
}

.grid-table tbody td {
}

.grid-table .grid-product-title {
    margin: 0;
}

.grid-table .grid-product-barcode {
    margin: 0;
}

.grid-table .grid-product-ordered {
    /* margin: 0.2em; */
    min-width: 50px;
    padding: 0.7em;
    background: #dfdfdf;
    color: #181818;
    border-left: #ababab;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-right: #ababab 0.1em solid;
}

.confirmation-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.92);
    overflow: hidden;
    overflow-y: auto;
    z-index: 5000;
}

.confirmation-modal .inner {
    margin: 2em;
}

.confirmation-modal .detail-section {
    /* display: flex;
    align-content: flex-start;
    align-items: flex-start; */
    max-width: 880px;
}

.confirmation-modal .detail-section .section-half {
    /* flex:1; */
    /* padding:1em; */
    margin-bottom: 1em;
}

.confirmation-modal .detail-row {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
    justify-items: start;
    margin-bottom: 1em;
}

.confirmation-modal .detail-row .detail-label {
    min-width: 120px;
}

.confirmation-modal .detail-row .detail-input {
    flex: 1;
}

.confirmation-modal .detail-text-area {
    display: flex;
    min-height: 120px;
    margin-bottom: 2em;
    max-width: 100%;
}

.screen-signature {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* align-content: center; */
}

.screen-signature .panel-signature {
    margin-bottom: 1em;
    border: 0.1em solid #ababab;
    background: #fafafa;
    border-radius: 0.2em;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

/*  ORDER SUGESTION */
.order-popup {
    direction: rtl;
    width: 100%;
    height: auto;
    height: 100%;
    max-height: 100%;
    padding: 0;
    overflow-y: auto;
}

.order-suggestion {
    direction: rtl;
    width: 100%;
    height: auto;
    height: 100%;
    max-height: 100%;
    /* background: #ecf0f1; */
    /* font-size: 18px; */
    /* padding-top: 2em; */
}

.order-suggestion .wrapper {
    height: 100%;
}

.order-suggestion img {
    width: initial;
    max-height: initial;
    max-width: 100%;
    height: auto;
}

.order-suggestion * {
    box-sizing: border-box;
}

.order-suggestion .order-suggestion-main {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.order-suggestion .main-toolbar {
    padding: 0.5em;
    display: flex;
    background: #34495e;
    color: #ecf0f1;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.order-suggestion .main-toolbar .main-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.order-suggestion .main-toolbar .toolbar-catalog-menu {
    position: relative;
    background: none;
    width: auto;
}

.order-suggestion .main-toolbar .toolbar-logo {
    font-size: 1.3em;
}

.order-suggestion .main-toolbar .toolbar-menu {
    display: flex;
}

.order-suggestion .main-toolbar .menu-item {
    font-weight: 100;
    padding: 0.25em 1em;
    color: #ecf0f1;
}

.order-suggestion .main-toolbar .menu-item:hover {
    background: #ecf0f1;
    color: #34495e;
    cursor: pointer;
}

.order-suggestion .catalog-wrapper {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.order-suggestion .product-catalog {
    flex: 1;
    overflow-y: auto;
}

.product-catalog .product-grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
}

.product-catalog .product-grid .product {
    position: relative;
    flex: 1 0 33.3334%;
    max-width: 33.3334%;
    margin: 0;
    padding: 0;
    min-height: 240px;
    /* border: 0.1em solid #dadada; */
}

.product-catalog .product-grid .product .product-inner {
    margin: 0.5em 0.5em 0;
    padding: 0.4em;
    /* background-color: #ecf0f1; */
    /* border: 1px solid #dadada; */
    -webkit-box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.1);
}

.product-catalog .product-badges {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 1em;
    /* Osher 20.08.20 fixing positioning for language support * right: 1em;*/
    font-size: 12px;
}

.serie-products .product-badges {
    display: flex;
    flex-flow: row-reverse;
    position: relative;
    font-size: 10px;
}

.product-badges {
    font-size: 12px;
}

.product-badges .product-badge {
    position: relative;
    max-width: 5em;
    max-height: 5em;
}

.product-badges .product-badge .badge-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    font-size: 0.9em;
    /* line-height: 0.8em; */
    text-align: center;
}

.product-badges .product-badge .badge-label .label-bold {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 0.8em;
}

.product-badges .product-badge .badge-icon {
    width: 100%;
    height: auto;
}

.product-badges .product-badge.sale-badge .badge-icon {
    color: #ffeb3b;
}

.product-badges .product-badge.display-badge .badge-icon {
    color: #2196f3;
}

.product-catalog .product .product-image {
    /* height: 240px;
    min-width: 240px; */
    /* background: #3498db; */
    min-height: 210px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

.product-catalog .product .product-image .image-text {
    min-height: 120px;
    /* background: #ededed; */
    word-break: break-all;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    padding: 1em;
}

.product-catalog .product .product-image .title {
    font-size: 1.3em;
    margin-bottom: 0;
    padding: 0;
    color: #ababab;
    white-space: nowrap;
}

.product-catalog .product .product-image .subtitle {
    font-size: 0.9em;
    padding: 0;
    color: #bdbdbd;
    white-space: nowrap;
}

.product-catalog .product .product-image img {
    max-width: 100%;
    max-height: 160px;
}

.product-catalog .product .product-details {
}

.product-catalog .product .product-details .product-type {
    display: flex;
    font-size: 1em;
    font-weight: bold;
    align-content: center;
    /* align-items: center; */
}

.product-catalog .product .product-details .product-type .type-item {
    flex: 1;
    padding: 0.5em 0em;
    letter-spacing: nowrap;
    text-align: center;
    border: 1px solid #dadada;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
}

.product-catalog .product .product-details .product-type .type-item.error {
    background: #e74c3c;
    color: #fafafa;
}

.product-catalog .product .product-details .product-type .type-item .type-item-label {
    font-size: 0.65em;
}

.product-catalog .product .product-status {
    z-index: 200;
    position: absolute;
    /* Osher 20.08.20 fixing positioning for language support * top: 0.5em; right: 0.5em;*/
    /* Osher 20.08.20 */ top: 2em;
}

.product-catalog .product .product-favorite {
    z-index: 200;
    position: absolute;
    /* Osher 20.08.20 fixing positioning for language support * top: 2em; left: 2em;*/
    /* Osher 20.08.20 */ top: 1em;
    padding: 0.25em 1.5em;
}

.product-catalog .product .product-barcode {
    /* padding: 0.25em 1.5em; */
    color: #393939;
}

.order-suggestion .product-modal {
}

.main-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.92);
    overflow: hidden;
    overflow-y: auto;
    z-index: 5000;
}

.main-modal > .modal-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.main-modal > .modal-inner .modal-container {
    max-width: 1024px;
    margin: 2em auto;
    padding: 1em;
}

.main-modal .modal-close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}

.main-modal .modal-close .modal-close-button {
    padding: 1.5em;
    background: none;
    border: none;
}

.product-modal .product-title {
    font-size: 2.2em;
    text-align: center;
}

.product-modal .product-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    /* max-width: 100%; */
    padding: 1em;
}

.product-modal .product-details {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.product-modal .product-details .detail-row {
    display: flex;
    flex-flow: row;
    padding: 1em;
    border-bottom: 1px solid #dadada;
}

.product-modal .product-details .detail-row.error {
    border: 1px solid #e74c3c;
}

.product-modal .product-details .detail-row .detail-label {
    display: flex;
    justify-items: flex-start;
    justify-content: flex-start;
    min-width: 120px;
    font-size: 0.9em;
    color: #909090;
}

.product-modal .product-details .detail-row .detail-value {
    flex: 1;
    display: flex;
    justify-items: flex-start;
    justify-content: flex-start;
    font-size: 1em;
    font-weight: bold;
    max-width: 100%;
}

.product-modal .product-details .detail-row .detail-text-input {
    padding: 0.5em 0;
    font-size: 1.2em;
    /* max-width: 140px; */
    background: #ededed;
    border: 2px solid #dadada;
    width: auto;
    flex: 2;
}

.product-modal .product-details .detail-row .detail-submit {
    flex: 1;
    font-size: 1.2em;
    padding: 0.2em 0.6em;
    background: #34495e;
    color: #fafafa;
    border: none;
    outline: none;
    border-radius: 4px;
}

.product-modal .product-image {
    /* max-width: 320px; */
    height: 240px;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.product-modal .product-image img {
    /* max-width: 100%; */
    /* height: auto; */
    max-height: 100%;
    width: auto;
}

.serie-modal {
    position: relative;
}

.serie-modal * {
    box-sizing: border-box;
}

.serie-modal .serie-title {
}

.serie-modal .serie-title .main-title {
    font-size: 3em;
}

.serie-modal .serie-title .sub-title {
    font-size: 1.2em;
    font-weight: bold;
}

.serie-modal .serie-actions {
    position: absolute;
    top: 1em;
    /* Osher 20.08.20 fixing positioning for language support * left: 1em;*/
}

.serie-modal .serie-actions .serie-action {
}

.serie-modal .serie-products {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
}

.serie-modal .serie-products .product {
    position: relative;
    flex: 1 0 50%;
    max-width: 50%;
    margin: 0;
    padding: 1em;
    min-height: 240px;
    border: 1px solid #eaeaea;
}

.serie-modal .serie-products .product .product-inner {
    padding: 0.5em;
}

.product .product-name {
    font-size: 1.4em;
    font-weight: bold;
    min-height: 3em;
}

.product .product-barcode {
    color: #ababab;
    text-align: left;
    font-size: 0.9em;
}

.product .product-image {
    display: flex;
    /* padding: 1em; */
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-height: 120px;
}

.product .product-image img {
    width: initial;
    max-height: initial;
    max-width: 120px;
    height: auto;
}

.product .product-actions {
    display: flex;
}

.product .product-actions .product-action {
    flex: 1;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.3em 0.25em;
    text-align: center;
    border: 1px solid #dadada;
}

.product .product-actions .product-action .action-label {
    font-size: 0.6em;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

.product .product-actions .product-action .action-value {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.product .product-actions .product-action.error {
    background: #e74c3c;
    color: #181818;
}

.product .product-actions .product-action.selected {
    background: #34495e;
    color: #cdcdcd;
}

.product .product-action-edit {
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.product .product-action-edit .detail-text-input {
    padding: 0.2em 0;
    font-size: 1em;
    background: #ededed;
    border: 2px solid #dadada;
}

.product .product-action-edit .detail-submit {
    font-size: 1em;
    padding: 0.5em 1em;
    background: #34495e;
    color: #fafafa;
    border: none;
    outline: none;
    border-radius: 4px;
}

.serie-modal .order-all {
}

.pallet-receive {
}

.pallet-receive .pallet-selection-container {
    max-width: 820px;

    margin: 0 auto;
}

.pallet-receive .pallet-accept-table {
    /* min-height: 100%; */
    margin-bottom: 1em;
}

.pallet-receive .pallet-accept-table .pallet-action-button {
    padding: 1em;
    width: 100%;
}

.pallet-receive .pallet-accept-table .pallet-input-text {
    padding: 1em;
    width: 100%;
}

.pallet-receive .pallet-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 641px) and (max-width: 1280px) {
    .grid-table {
        font-size: 0.9em;
    }

    .product-catalog .product-grid .product {
        flex: 1 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 640px) {
    .grid-table {
        font-size: 0.8em;
    }

    .product-catalog .product-grid .product {
        flex: 1 0 100%;
        max-width: 100%;
    }
}
