

@media print {
      #planogram-navbar, #planogram-sidebar, #sidebar, .planogram-scale, .planogram-drop-garbage, .planogram-product-detailer{
        display: none!important;
      }
      .planogram-container {
        transform: rotate(-90deg) !important;
        // position: fixed!important;
        // top: 0%!important;
        // right: 3%;
        width: 100%!important;
        height: 100%!important;
      }
//       @page {
//         size: landscape;
//         size: 25cm 35.7cm;
//         margin: 5mm 5mm 5mm 5mm; /* change the margins as you want them to be. */
//       }
// .react-contexify {
//   position: fixed;
//   z-index: 5000;
// }
// .dx-overlay-wrapper {
//   z-index: 5000 !important;
// }



}