.product {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 8px;
	// width: 100%;

	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 24px;
	}

	&__body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__title {
		font-weight: bold;
		line-height: 1;
	}

	&__newProduct {
		width: 34px;
		height: 18px;
		// margin: 1px 9px 13px 22px;
		padding: 1px 6px 2px;
		border-radius: 9px;
		background-color: #273a48;
	}
	&__newProductText {
		width: 22px;
		height: 15px;
		font-family: Assistant;
		font-size: 12px;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #ffffff;
		font-weight: 600;
	}
	&__promoEnding {
		// width: 34px;
		height: 18px;
		// margin: 1px 9px 13px 22px;
		padding: 0.3rem 0.7rem;
		border-radius: 9px;
		background-color: #d44444;
	}
	&__promoEndingText {
		// width: 22px;
		height: 15px;
		font-family: Assistant;
		font-size: 0.9rem;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #ffffff;
		font-weight: 600;
	}

	&__barcode {
		font-weight: 600;
		font-family: Assistant;
		font-size: 1.05rem;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #ffffff;
		font-weight: 600;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		svg g {
			fill: #1e1e20;
		}
	}

	&__count-in-stock,
	&__sale {
		display: flex;
		align-items: center;
		font-weight: 600;
		color: #1e1e20;
	}

	&__icon {
		margin-right: 8px;
	}

	&__barcodeHolder {
		margin-top: 6px;
		display: block;
	}

	&__info {
		border: none;
		background: transparent;
	}

	&__info:focus {
		outline: none;
	}

	&__picture {
		margin: 20px;
		height: 140px;

		img {
			max-height: 100%;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 55px;
		border-top: 2px solid black;
		cursor: pointer;

		&_active {
			border-top-color: #385368;
		}
	}

	&__order-count {
		font-size: 18px;
		font-weight: 600;
		color: #1e1e20;
	}

	&__order-buttons {
		display: flex;
		align-items: center;

		.product__order-count {
			margin: 0 12px;
		}
	}

	&__btn-count {
		padding: 0;
		border: none;
		background: transparent;

		svg {
			width: 1.2rem;
			height: 1.2rem;
		}
	}

	&__btn-count:focus {
		outline: none;
	}

	&__back-body {
		justify-content: center;

		li {
			margin-bottom: 16px;
			display: flex;
			color: #fff;
		}
	}

	&__offer {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fcff4678;
		padding: 5px 12px;
		border-radius: 8px;
	}

	&__offer-title {
		font-weight: bold;
		color: #1e1e20;
	}

	.product__info {
		svg path:last-child {
			fill: #273a48;
		}
	}

	&.product__active {
		background-color: #273a48 !important;

		.product__title {
			color: #fff;
		}

		.product__order-count {
			color: #fff;
		}

		.product__info {
			svg path:last-child {
				fill: #fff;
			}
		}
	}
}

.product__picture {
	img {
		overflow: auto !important;
	}
}

.product__orderInput {
	direction: rtl;
	width: 15% !important;
	text-align: center;
	margin: auto !important;
	border-radius: 0.5rem;
}

.product__orderInput:focus {
	outline: 0 !important;
}

.bg-product {
	background-color: #f3f3f5 !important;
}

.bg-danger-product {
	background-color: #f5b5b5 !important;
}
.products__item{
	min-height: 28rem !important;
	// max-height: 28rem !important;
}