.products {
	ul {
		list-style: none;
		padding: 0;
	}

	.products__item {
		margin: auto !important;
		width: 100%;
		max-width: 28rem;
		padding-bottom: 5px;
		height: 100%;

		// min-height: 50vh !important;
		// max-height: 50vh !important;

	}
	&__grid{
		width: 100%;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );

	}
	 .products__grid__small{
		grid-template-columns: repeat(4, minmax(250px, 1fr)) !important;
	 }
}

@media (min-width: 1200px) {
	.products {
		// .products__item {
		// 	flex: 0 0 20%;
		// 	max-width: 20%;
		// }
	}
}
