::-webkit-scrollbar-thumb {
	height: 1rem !important;
}

.styled-list {
	overflow: auto;
	height: 200px;
	max-height: 200px;
}


.item {
	display: flex;
	padding: 0 10px;
	align-items: center;
	cursor: pointer;
	width: 480px;
	height: 40px;

	&:hover {
		background: #f2f2f2;
	}
}


.react-dropdown-select-type-multi{
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: nowrap !important;
	overflow: hidden !important;
	-webkit-align-items: center;
	align-items: center;
}
.react-dropdown-select {
	border-radius: 2rem;
	padding-left: 5px;
	padding-right: 5px;




	&-content {
		padding-right: 5px;
		padding-left: 5px;

	}

	&-dropdown-handle {
		display: flex;
		justify-content: center;
		align-items: center;
	}

}


.react-dropdown-select-option{
	border-radius: 10px;
    color: hsl(0,0%,20%);
    font-size: 85%;
    overflow: hidden;
    padding: 1px;
    padding-left: 6px;
    padding-right: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
	font-weight: 600;
	&-label {
		max-width: 70px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color:black;
	}
}


.custom-checkbox {
	position: relative;
	margin-right: 2rem;

	&:after {
		content: '';
		position: absolute;
		border-radius: .25rem;
		right: -1.3rem;
		width: 1.1rem;
		height: 1.1rem;
		top: -0.4rem;
		background-color: #fff;
		border: 1px solid #adb5bd;
	}

	&.checked {
		&:after {
			border-color: #31baab;
			background: #31baab no-repeat 50%/50% 50% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
			cursor: pointer !important;
		}
	}

	&.disabled {
		&:after {
			border-color: #c4c4c4;
			background-color: #c4c4c4;
			cursor: default !important;
		}
	}

	&.disabled-checked {
		&:after {
			border-color: #31baab;
			background: #31baab no-repeat 50%/50% 50% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
			cursor: default !important;
		}
	}

	&.semi-checked {
		&:after {
			border-color: #31baab;
			background: #fff no-repeat 50%/50% 50%;
			cursor: pointer !important;
		}

		&:before {
		padding: 5px;
			content: '';
			position: absolute;
			background-color: #31baab;
			right: -1.11rem;
			width: 0.7rem;
			height: 0.15rem;
			top: .30rem;
			z-index: 1;
			cursor: pointer !important;
		}
	}



	&.half-checked {
		&:after {
			border-color: #31baab;
			background: #31baab no-repeat 50%/50% 50%;
		}

		&:before {
			content: '';
			position: absolute;
			background-color: #fff;
			right: -1.11rem;
			width: 0.7rem;
			height: 0.15rem;
			top: .57rem;
			z-index: 1;
			cursor: default;
		}
	}
}
