@import "src/assets/styles/colors.scss";

.bottom-menu {
	position: relative;
	margin-left: 16px !important;
	padding: 20px 0 0 !important;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 16px;
		width: calc(100% - 16px);
		height: 1.5px;
		padding: 0 16px;
		background-color: #385368;
	}

	&__item {
		display: flex;
		margin-bottom: 10px;
		padding: 11px 7px;
		height: 40px;
		text-transform: uppercase;
		cursor: pointer;

		span {
			font-size: 1rem;
			color: #dadada !important;
			text-transform: capitalize;
		}

		svg {
			margin-right: 1rem;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;

			svg {
				stroke: $color-turquoise;
			}
		}
	}
}
