.nav-item {
	.sub-menu {
		position: fixed;
		top: 0;
		left: 200px;
		height: 100%;
		padding-top: 72px !important;
		min-width: 160px;
		background-color: #f3f3f5 !important;
		list-style: none;
		cursor: default;

		&__item {
			display: flex;
			margin-bottom: 10px;
			padding: 0;
			height: 40px;
			text-transform: uppercase;
			cursor: pointer;

			.sub-menu__link {
				width: 100%;
				padding: 11px 24px !important;
				font-size: 1rem;
				color: #5c809a !important;
				text-transform: capitalize;
			}

			&:hover {
				background-color: #31baab !important;

				a {
					color: white !important;
				}
			}

			&.active {
				border-radius: 0 !important;
				background-color: #31baab !important;
				box-shadow: none !important;

				a {
					color: white !important;
				}
			}
		}
	}
}
