.main-menu-content {
	margin-top: 20px;

	.navigation-main {
		margin-left: 16px;
	}

	.nav-item {
		padding: 0 !important;
		height: 40px;
		margin: 0 0 10px;

		.menu-item {
			color: #dadada;
		}

		&.active-item, &.hover {
			background-color: rgba(255, 255, 255, 0.1);
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;

			svg g {
				fill: #31baab;
			}
		}

		a {
			padding: 10px 7px !important;
		}

		.menu-title {
			font-size: 1rem;
		}
	}
}
