.tabs {
	box-shadow: none !important;

	.nav-link {
		padding: .61rem 2rem ;
		font-size: 1.15rem !important;
		font-weight: bold !important;
	}

	.nav-link.active {
		background-color: transparent !important;
	}

	.nav-link:after {
		content: '';
		height: 2px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		top: 100%;
		transform: translateY(-2px);
		background: #f3f3f5;
	}
}
