@import "src/assets/scss/core/colors/palette-variables.scss";

.stock-card {
	position: relative;
	margin-bottom: 20px;
	width: 400px;
	max-width: 100%;
	padding: 24px;
	background-color: #f3f3f5;
	border-radius: 8px;
	overflow-x: hidden !important;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		height: 2px;
	}

	&_new:before {
		background-color: #4372e9;
	}

	&_pending:before {
		background-color: #eac023;
	}

	&_delete:before {
		background-color: #7abe36;
	}

	&__title {
		display: block;
		margin-bottom: 1.3rem;
		font-size: 1.3rem;
		font-weight: bold;
		color: #1e1e20;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__text {
		overflow: hidden !important;
		width: 100% !important;
		display: flex;
		align-items: baseline;
	}

	&__item {
		display: grid;
		grid-template-columns: 1fr 0.1fr;
		align-items: center;
		justify-content: space-between;
		padding: 8px 16px;
		background-color: white;
		border-radius: 3px;
	}

	&__item + &__item {
		margin-top: 8px;
	}

	&__price {
		// margin-left: 8px;
		font-size: 1rem;
		font-weight: 600;
		color: #8f8f8f;
	}

	&__value {
		border: none;
		// width: 155% !important;
		// max-width: 150px;
		background: transparent;
		cursor: default;
		font-size: 1.15rem;
		font-weight: 600;
		color: #1e1e20;
		text-overflow: ellipsis;
		width: 100%;
		// width: 100%;
		// max-width: 18vh !important;
		// min-width: 4rem !important;
	}

	&__action-buttons {
		display: flex;
	}

	&__action-buttons button {
		width: 32px;
		height: 32px;
		margin-left: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: none;
		background: transparent;
		cursor: pointer;
	}

	&__action-buttons button:hover {
		background-color: #f3f3f5;
	}

	&__action-buttons button:focus {
		outline: none;
	}

	&__trash {
		svg g {
			fill: #d03639;
		}
	}
	
}
.print__card__container {
	display: none;
}
@media print {
	footer{
		display: none !important;
	}
}