.edit-drawer {
	&__body {
		height: 100vh;
		overflow-y:  auto;
		overflow-x: hidden;
		max-height: 100%;
		padding: 60px 30px 30px 20px;
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 2rem;
		position: relative;
		display: flex;
		align-items: center;

		input {
			background: transparent;
			border: none;
			font-size: 1.6rem;
			font-weight: bold;
			color: #1e1e20;
			cursor: default;
		}

		svg {
			position: absolute;
			right: 0;
		}
	}

	&__tab-content {
		padding-right: 10px;
		// overflow-y: auto;
	}

	&__tabs {
		margin-bottom: 2rem;
	}

	

	&__footer {
		display: flex;
		justify-content: flex-start;
		padding-top: 1rem;

		button {
			width: 120px;
		}
	}
}
