// ================================================================================================
// 	File Name: helper.scss
// 	Description: Helper classes provides color, width, position & background etc..
// 				 related customiztion.
// 	----------------------------------------------------------------------------------------------
// 	Item Name: Vuexy React Admin Template
// 	Version: 1.0
// 	Author: PIXINVENT
// 	Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

// Content helpers
// -------------------------
@import "@src/assets/styles/colors";

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.margin-right-auto {
	margin-right: auto;
}

.margin-left-auto {
	margin-left: auto;
}

.left-7-rem {
	left: 7rem !important;
}

.opacity-0 {
	opacity: 0 !important;
}

.opacity-03 {
	opacity: 0.3 !important;
}

.opacity-05 {
	opacity: 0.5 !important;
}

.opacity-07 {
	opacity: 0.7 !important;
}

.opacity-1 {
	opacity: 1 !important;
}

.mb-0 {
	margin-bottom: 0!important;
}
.mb-05 {
	margin-bottom: 0.5rem;
}

.mb-08 {
	margin-bottom: 0.8rem;
}

.mr-05 {
	margin-right: 0.5rem;
}

.mr-05-6 {
	margin-right: 0.56rem;
}


.mr-1 {
	margin-right: 1rem;
}

.mr-2 {
	margin-right: 2rem;
}

.mr-19 {
	margin-right: 19rem !important;
}

.mr-20 {
	margin-right: 20rem !important;
}

.mr-1-im {
	margin-right: 1rem !important;
}

.mr-03 {
	margin-right: 0.3rem;
}

.mt-auto {
	margin-top: auto !important;
}
.mb-auto {
	margin-bottom: auto !important;
}

.mt-015 {
	margin-top: 0.15rem !important;
}

.mt-05 {
	margin-top: 0.5rem;
}

.mt-0-75 {
	margin-top: 0.75rem;
}
.mt-1-1 {
	margin-top: 1.1rem;
}


.mt-1-2 {
	margin-top: 1.2rem;
}
.mt-1-2-5 {
	margin-top: 1.25rem !important;
}


.mt-1-5 {
	margin-top: 1.5rem;
}
.mt-02 {
	margin-top: 0.2rem;
}

.mt-2-5 {
	margin-top: 2.5rem;
}

.mt-4-3{
	margin-top:4.3rem;
}

.ml-05 {
	margin-left: 0.5rem;
}

.ml-05-6 {
	margin-left: 0.56rem;
}

.ml-075 {
	margin-left: 0.75rem;
}

.ml-03 {
	margin-left: 0.3rem;
}

.ml-1 {
	margin-left: 1rem;
}

.ml-1-5 {
	margin-left: 1.5rem;
}

.ml-2-5 {
	margin-left: 2.5rem !important;
}
.ml-2rem {
	margin-left: 2rem !important;
}

.ml-19 {
	margin-left: 19rem !important;
}

.ml-20 {
	margin-left: 20rem !important;
}

.mb-05-vh {
	margin-bottom: 0.5vh !important;
}

.mb-1-vh {
	margin-bottom: 1vh !important;
}

.mb-2-vh {
	margin-bottom: 2vh !important;
}


.mt-1-2-rem {
	margin-top:  1.2rem;
}
.mt-1-vh {
	margin-top: 1vh;
}

.mt-1-5-vh {
	margin-top: 1.5vh !important;
}

.mt-2-vh {
	margin-top: 2vh !important;
}

.mt-3-vh {
	margin-top: 3vh !important;
}

.mt-3-5-vh {
	margin-top: 3.5vh !important;
}

.mt-4-vh {
	margin-top: 4vh !important;
}

.mt-5-vh {
	margin-top: 5vh !important;
}

.mt-6-vh {
	margin-top: 6vh !important;
}

.mt-4-5-rem {
	margin-top: 4.5rem !important;
}

.mt-8-4-rem {
	margin-top: 8.4rem !important;
}

.py-05 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.px-05 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.pt-05 {
	padding-top: 0.5rem;
}

.pb-05 {
	padding-bottom: 0.5rem !important;
}

.pb-1-5 {
	padding-bottom: 1.5rem !important;
}

.pb-6 {
	padding-bottom: 6rem !important;
}

.pl-05 {
	padding-left: 0.5rem !important;
}

.pl-1-5 {
	padding-left: 1.5rem !important;
}

.pl-2-5 {
	padding-left: 2.5rem !important;
}

.pr-05 {
	padding-right: 0.5rem !important;
}

.pr-1-5 {
	padding-right: 1.5rem !important;
}

// Display

.display-inline {
	display: inline !important;
}

.d-inline-block {
	display: inline-block !important;
}

.display-block {
	display: block !important;
}

.display-inline-block {
	display: inline-block !important;
}

.display-hidden {
	display: none !important;
}

.display-table-cell {
	display: table-cell !important;
}

// Position
.position-absolute {
	position: absolute;
}


.position-fixed {
	position: fixed;
}

.position-sticky {
	position: sticky !important;
}

.position-top-0 {
	top: 0;
}

.position-top-02 {
	top: 0.2rem;
}

.position-top-1-4-5 {
	top: 1.45rem;
}

.position-top-1-5 {
	top: 1.5rem;
}

.position-top-2 {
	top: 2rem;
}

.position-top-3 {
	top: 3rem;
}

.position-top-3-5 {
	top: 3.5rem;
}

.position-top-5 {
	top: 5rem;
}

.position-top-7 {
	top: 7rem;
}


.position-right-0 {
	right: 0;
}


.position-right-minus-1-rem {
	right: -1rem;
}

.position-bottom-0 {
	bottom: 0;
}

.position-bottom-1-5-rem {
	bottom: 1.5rem !important;
}

.position-left-0 {
	left: 0 !important;
}

.position-left-0-8-5 {
	left: 0.85 !important;
}

.left-50-per {
	left: 50% !important;
}
.left-50--per{
	left: -50% !important;
}
.left-30-per {
	left: 30% !important;
}

.left-20-per {
	left: 20% !important;
}

.position-left-05 {
	left: 0.5rem;
}

.position-left-minus-1-rem {
	left: -1rem;
}

// Z-index

.zindex-1 {
	z-index: 1 !important;
}

.zindex-2 {
	z-index: 2 !important;
}

.zindex-3 {
	z-index: 3 !important;
}

.zindex-4 {
	z-index: 4 !important;
}

.zindex-10001 {
	z-index: 10001 !important;
}

.zindex-10002 {
	z-index: 10002 !important;
}

.zindex-10003 {
	z-index: 10003 !important;
}

.zindex-10004 {
	z-index: 10004 !important;
}

.zindex-0 {
	z-index: 0 !important;
}

.zindex-minus-1 {
	z-index: -1 !important;
}

.zindex-minus-2 {
	z-index: -2 !important;
}

.zindex-minus-3 {
	z-index: -3 !important;
}

.zindex-minus-4 {
	z-index: -4 !important;
}

// Edges
.no-edge-top {
	top: 0 !important;
}

.no-edge-bottom {
	bottom: 0 !important;
}

.no-edge-left {
	left: 0 !important;
}

.no-edge-right {
	right: 0 !important;
}

// Cursors
.cursor-pointer {
	cursor: pointer;
}

.cursor-move {
	cursor: move;
}

.cursor-default {
	cursor: default;
}

.cursor-progress {
	cursor: progress;
}

.cursor-not-allowed {
	cursor: not-allowed;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

// Overflow
.overflow-hidden {
	overflow: hidden !important;
}

.overflow-visible {
	overflow: visible;
}

.overflow-auto {
	overflow: auto;
}

.overflow-scroll {
	overflow: scroll;
}

.overflow-x-scroll {
	overflow: scroll;
}

.overflow-x-hidden {
	overflow-x: hidden !important;
}

.overflow-x-auto {
	overflow-x: auto !important;
}

.overflow-y-scroll {
	overflow: scroll;
}

.overflow-y-auto {
	overflow: auto;
}

.overflow-y-hidden {
	overflow-y: hidden !important;
}

// Lists
.bullets-inside {
	list-style: inside;
}

.list-style-circle {
	list-style: circle;
}

.list-style-square {
	list-style: square;
}

.list-style-icons {
	padding-left: 10px;
	margin-left: 0;
	list-style: none;

	>li svg {
		width: 1em;
		margin: 0 6px 0 0;
	}
}

// Borders
// -------------------------

// Add borders
.border-turquoise {
	border-color: $color-turquoise !important;
}
.border-white {
	border: 1px solid white !important;
}
.border-turquoise-2 {
	border: 2px solid $color-turquoise !important;
}
.d-flex-column-w{
	display: flex;
	flex-direction: column;
}
.no-bg {
	background-color: Transparent;
	background-repeat: no-repeat;
}

.no-border {
	border: 0;
}

.no-padding {
	padding: 0 !important;
	padding: unset !important;
}

.border-warning {
	border: 1px solid red !important;
}

.border-light-gray {
	border: solid 2px #ececec !important;
}

.border-bottom-light-gray {
	border-bottom: solid 2px #ececec !important;
}

.border {
	border: 1px solid !important;
}


.import-excel-border {
	border-radius: 8px !important;
	border: solid 1px #cfcfd6 !important;
}

.border-top {
	border-top: 1px solid !important;
}

.border-bottom {
	border-bottom: 1px solid !important;
}
.border-bottom-lightgray{
	border-bottom: 1px solid #f3f3f5!important;
}

.border-dashed {
	border-style: dashed !important;
}

.border-left {
	border-left: 1px solid !important;
}

.border-left-5 {
	border-left: 5px solid !important;
}

.border-right {
	border-right: 1px solid !important;
}

.border-right-lightgray {
	border-right: 1px solid lightgray !important;
}

.border-right-5 {
	border-right: 5px solid !important;
}

.border-warning {
	border: 0.5px solid #d03639 !important;
}

.text-warning {
	color: #ce3638 !important;
}

.border-light-table {
	border: 0.1px solid #f3f3f5;
}

// Border widths

// Med - 2px
.border-1 {
	border-width: 1px !important;
}

.border-2 {
	border-width: 2px !important;
}

.border-3 {
	border-width: 3px !important;
}

.border-top-2 {
	border-top-width: 2px !important;
}

.border-bottom-2 {
	border-bottom-width: 2px !important;
}

.border-left-1 {
	border-left-width: 1px !important;
}

.border-left-2 {
	border-left-width: 2px !important;
}

.border-right-2 {
	border-right-width: 2px !important;
}

// Large - 3px
.border-3 {
	border-width: 3px !important;
}

.border-top-3 {
	border-top-width: 3px !important;
}

.border-bottom-3 {
	border-bottom-width: 3px !important;
}

.border-left-3 {
	border-left-width: 3px !important;
}

.border-right-3 {
	border-right-width: 3px !important;
}

.visibility-hidden {
	visibility: hidden !important;
}

.visibility-shown {
	visibility: visible !important;
}

.no-outline {
	outline: none !important;
}

// No border radious
.no-border {
	border: 0 !important;
}

.no-border-top-radius {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.no-border-bottom-radius {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.no-border-top-left-radius {
	border-top-left-radius: 0 !important;
}

.no-border-top-right-radius {
	border-top-right-radius: 0 !important;
}

.no-border-bottom-left-radius {
	border-bottom-left-radius: 0 !important;
}

.no-border-bottom-right-radius {
	border-bottom-right-radius: 0 !important;
}

// Box Shadow

.box-shadow-0 {
	box-shadow: none !important;
}

.box-shadow-1 {
	box-shadow: 0 2px 5px 0 rgba($pure-black, 0.16), 0 2px 10px 0 rgba($pure-black, 0.12);
}

.box-shadow-2 {
	box-shadow: 0 8px 17px 0 rgba($pure-black, 0.2), 0 6px 20px 0 rgba($pure-black, 0.19);
}

.box-shadow-3 {
	box-shadow: 0 12px 15px 0 rgba($pure-black, 0.24), 0 17px 50px 0 rgba($pure-black, 0.19);
}

.box-shadow-4 {
	box-shadow: 0 16px 28px 0 rgba($pure-black, 0.22), 0 25px 55px 0 rgba($pure-black, 0.21);
}

.box-shadow-5 {
	box-shadow: 0 27px 24px 0 rgba($pure-black, 0.2), 0 40px 77px 0 rgba($pure-black, 0.22);
}

.box-shadow-6 {
	box-shadow: 0 4px 8px 0 rgba($pure-black, 0.12), 0 2px 4px 0 rgba($pure-black, 0.08);
}

// Sizing
// -------------------------

//
// Width && Height
//

.fit {
	max-width: 100% !important;
}

.half-width {
	width: 50% !important;
}

.full-width {
	width: 100% !important;
}

.full-height {
	height: 100% !important;
}

.square {
	border-radius: 0 !important;
}

.border-radius-3 {
	border-radius: 3px !important;
}

.border-radius-1rem {
	border-radius: 1rem !important;
}
.border-radius-2rem {
	border-radius: 2rem !important;
}

.border-radius-05rem {
	border-radius: 0.5rem !important;
}

.border-radius-01rem {
	border-radius: 0.1rem !important;
}

.border-radius-02rem {
	border-radius: 0.2rem !important;
}

// Fixed widths
.webkit-fill-available {
	width: -webkit-fill-available;
}

.width-min-content {
	width: min-content !important;
}

.width-max-content {
	width: max-content !important;
}

.width-01vw {
	width: 0.1vw !important;
}
.width-2-5vw {
	width: 2.5vw !important;
}

.width-48vw {
	width: 48vw !important;
}

.width-55vw {
	width: 55vw !important;
}

.width-35vw {
	width: 35vw !important;
}

.width-0 {
	width: 0 !important;
}

.width-2 {
	width: 2px !important;
}

.width-50 {
	width: 50px !important;
}

.width-100 {
	width: 100px !important;
}

.width-150 {
	width: 150px !important;
}

.width-200 {
	width: 200px !important;
}

.width-250 {
	width: 250px !important;
}

.width-300 {
	width: 300px !important;
}

.width-350 {
	width: 350px !important;
}

.width-400 {
	width: 400px !important;
}

.width-450 {
	width: 450px !important;
}

.width-500 {
	width: 500px !important;
}

.width-550 {
	width: 550px !important;
}

.width-600 {
	width: 600px !important;
}

.width-650 {
	width: 650px !important;
}

.width-700 {
	width: 700px !important;
}

.width-750 {
	width: 750px !important;
}

.width-800 {
	width: 800px !important;
}

// Width in %
.width-5-per {
	width: 5% !important;
}

.width-10-per {
	width: 10% !important;
}

.width-15-per {
	width: 15% !important;
}

.width-20-per {
	width: 20% !important;
}

.width-25-per {
	width: 25% !important;
}

.width-30-per {
	width: 30% !important;
}

.width-35-per {
	width: 35% !important;
}

.width-40-per {
	width: 40% !important;
}

.width-45-per {
	width: 45% !important;
}

.width-50-per {
	width: 50% !important;
}

.width-55-per {
	width: 55% !important;
}

.width-60-per {
	width: 60% !important;
}

.width-65-per {
	width: 65% !important;
}

.width-68-per {
	width: 68% !important;
}
.width-70-per {
	width: 70% !important;
}

.width-75-per {
	width: 75% !important;
}

.width-80-per {
	width: 80% !important;
}

.width-85-per {
	width: 85% !important;
}

.width-90-per {
	width: 90% !important;
}

.width-95-per {
	width: 95% !important;
}

.width-100-per {
	width: 100% !important;
}
.flex-direction-column {
	flex-direction: column !important;
}
.no-wrap{
	flex-wrap: nowrap !important;
}
.min-width-13-rem{
	min-width: 13rem !important;
}

.width-fit {
	max-width: fit-content !important;
}

.width-100-rem {
	width: 100rem !important;
}

.width-100-vh {
	width: 100vh !important;
}

.height-100-per {
	height: 100% !important;
}

.height-100-rem {
	height: 100rem !important;
}

.height-16-8-rem {
	height: 16.8rem !important;
}

.height-17-5-rem {
	height: 17.5rem !important;
}

.height-18-rem {
	height: 18rem !important;
}

.height-19-rem {
	height: 19rem !important;
}


.height-26-rem {
	height: 26rem !important;
}

.height-35-rem {
	height: 35rem !important;
}

.height-100-vh {
	height: 100vh !important;
}

.height-3-vh {
	height: 3vh !important;
}

.height-2-5-vh {
	height: 2.5vh !important;
}

.height-3-5-vh {
	height: 3.5vh !important;
}

.height-4-vh {
	height: 4vh !important;
}
.height-25-vh{
	height: 25vh !important;
}

.height-1-2-rem {
	height: 1.2rem !important;
}

.height-2-3-rem {
	height: 2.3rem !important;
}

.height-2-6-rem {
	height: 2.6rem !important;
}

.width-075-rem {
	width: 0.75rem !important;
}

.width-0-9-rem {
	width: 0.9rem !important;
}

.width-0-2-rem {
	width: 0.2rem !important;
}

.width-0-3-rem {
	width: 0.3rem !important;
}
.width-0-5-rem {
	width: 0.5rem !important;
}
.width-1-rem {
	width: 1rem !important;
}

.width-1-5-rem {
	width: 1.5rem !important;
}

.width-2-rem {
	width: 2rem !important;
}

.width-2-5-rem {
	width: 2.5rem !important;
}

.width-3-rem {
	width: 3rem !important;
}

.width-3-5-rem {
	width: 3.5rem !important;
}

.width-5-rem {
	width: 5rem !important;
}

.width-6-rem {
	width: 6rem !important;
}

.width-7-rem {
	width: 7rem !important;
}

.width-8-rem {
	width: 8rem !important;
}

.width-8-5-rem {
	width: 8.5rem !important;
}

.width-9-rem {
	width: 9rem !important;
}

.width-9-5-rem {
	width: 9.5rem !important;
}


.width-10-rem {
	width: 10rem !important;
}

.width-12-rem {
	min-width: 12rem !important;
}

.width-13-rem {
	min-width: 13rem !important;
}


.width-15-rem {
	width: 15rem !important;
}

.width-16-8-rem {
	width: 16.8rem !important;
}

.width-17-rem {
	width: 17rem !important;
}

.width-18-rem {
	width: 18rem !important;
}

.width-19-rem {
	width: 19rem !important;
}

.width-20-rem {
	width: 20rem !important;
}

.width-25-rem {
	width: 25rem !important;
}

.width-30-rem {
	width: 30rem !important;
}

.width-40-rem {
	width: 40rem !important;
}
.width-45-rem {
	width: 45rem !important;
}

.width-50-rem {
	width: 50rem !important;
}

.width-55-rem {
	width: 55rem !important;
}

.width-60-rem {
	width: 60rem !important;
}

.width-65-rem {
	width: 65rem !important;
}

.width-2-vw {
	width: 2vw!important;
}
.width-3-vw {
	width: 3vw!important;
}
.min-width-1-rem {
	min-width: 1rem !important;
}

.max-width-13-rem {
	max-width: 13rem !important;
}

.max-width-30-vw {
	max-width: 30vw !important;
}

.min-width-2-rem {
	min-width: 2rem !important;
}

.min-width-3-rem {
	min-width: 3rem !important;
}

.min-width-5-rem {
	min-width: 5rem !important;
}

.min-width-8-rem {
	min-width: 8rem !important;
}

.min-width-9-rem {
	min-width: 9rem !important;
}

.min-width-10-rem {
	min-width: 10rem !important;
}

.min-width-15-rem {
	min-width: 15rem !important;
}

.min-width-20-rem {
	min-width: 20rem !important;
}
.min-width-22-rem {
	min-width: 22rem !important;
}

.min-width-25-rem {
	min-width: 25rem !important;
}
.min-width-30-rem {
	min-width: 30rem !important;
}

.min-width-32-rem {
	min-width: 32rem !important;
}

.min-width-35-rem {
	min-width: 35rem !important;
}

.min-width-37-rem {
	min-width: 37rem !important;
}

.min-width-40-rem {
	min-width: 40rem !important;
}

.min-width-45-rem {
	min-width: 45rem !important;
}

.min-width-50-rem {
	min-width: 50rem !important;
}

.min-width-55-rem {
	min-width: 55rem !important;
}

.min-width-70-rem {
	min-width: 70rem !important;
}

.min-width-250 {
	min-width: 250px !important;
}

.min-width-350 {
	min-width: 350px !important;
}

.min-width-400 {
	min-width: 400px !important;
}

.min-width-30-rem {
	min-width: 30rem !important;
}

.min-width-49vw {
	min-width: 49vw !important;
}

.max-width-1-rem {
	max-width: 1rem !important;
}

.max-width-2-rem {
	max-width: 2rem !important;
}

.max-width-5-rem {
	max-width: 5rem !important;
}

.max-width-7-rem {
	max-width: 7rem !important;
}

.max-width-9-rem {
	max-width: 9rem !important;
}

.max-width-10-rem {
	max-width: 10rem !important;
}

.max-width-15-rem {
	max-width: 15rem !important;
}
.max-width-14-rem {
	max-width: 14rem !important;
}

.max-width-18-rem {
	max-width: 18rem !important;
}

.max-width-19-rem {
	max-width: 19rem !important;
}

.max-width-30-rem {
	max-width: 30rem !important;
}

.max-width-32-rem {
	max-width: 32rem !important;
}

.max-width-45-rem {
	max-width: 45rem !important;
}

.max-width-50-rem {
	max-width: 50rem !important;
}

.max-width-350 {
	max-width: 350px !important;
}

.max-width-18-vw {
	max-width: 18vw !important;
}

.max-width-11-vw {
	max-width: 11vw !important;
}

.min-width-11-vw {
	min-width: 11vw !important;
}

//Fixed Height in px
.height-inherit {
	height: inherit !important;
}

.height-min-content {
	height: min-content !important;
}

.height-fit-content {
	height: fit-content !important;
}

.height-2-2-rem {
	height: 2.2rem !important;
}

.height-2-5-rem {
	height: 2.5rem !important;
}

.height-2-35-rem {
	height: 2.35rem !important;
}

.height-0 {
	height: 0 !important;
}

.height-35 {
	height: 35px !important;
}

.height-39 {
	height: 39px !important;
}

.height-50 {
	height: 50px !important;
}

.height-75 {
	height: 75px !important;
}

.height-100 {
	height: 100px !important;
}

.height-150 {
	height: 150px !important;
}

.height-2 {
	height: 2px !important;
}

.height-200 {
	height: 200px !important;
}

.height-250 {
	height: 250px !important;
}

.height-300 {
	height: 300px !important;
}

.height-350 {
	height: 350px !important;
}

.height-400 {
	height: 400px !important;
}

.height-450 {
	height: 450px !important;
}

.height-500 {
	height: 500px !important;
}

.height-550 {
	height: 550px !important;
}

.height-600 {
	height: 600px !important;
}

.height-650 {
	height: 650px !important;
}

.height-700 {
	height: 700px !important;
}

.height-750 {
	height: 750px !important;
}

.height-800 {
	height: 800px !important;
}

.height-02-rem {
	height: 0.2rem !important;
}
.height-05-rem {
	height: 0.5rem !important;
}
.height-0-9-rem {
	height: 0.9rem !important;
}

.height-1-rem {
	height: 1rem !important;
}

.height-1-2-rem {
	height: 1.2rem !important;
}

.height-1-5-rem {
	height: 1.5rem !important;
}

.height-1-7-5-rem {
	height: 1.75rem !important;
}

.height-2-rem {
	height: 2rem !important;
}

.height-2-5-rem {
	height: 2.5rem !important;
}

.height-2-9-rem {
	height: 2.9rem !important;
}

.height-3-rem {
	height: 3rem !important;
}

.height-3-5-rem {
	height: 3.5rem !important;
}

.height-4-5-rem {
	height: 4.5rem !important;
}

.height-7-rem {
	height: 7rem !important;
}

.height-5-rem {
	height: 5rem !important;
}

.height-10-rem {
	height: 10rem !important;
}

.height-12-rem {
	height: 12rem !important;
}

.height-15-rem {
	height: 15rem !important;
}

.height-93-rem {
	height: 93em !important;
}

.height-40-vh {
	height: 40vh !important;
}

.max-height-1-rem {
	max-height: 1rem !important;
}

.max-height-2-rem {
	max-height: 2rem !important;
}

.max-height-4-5-rem {
	max-height: 4.5rem !important;
}

.max-height-100 {
	max-height: 100px !important;
}

.max-height-150 {
	max-height: 150px !important;
}

.max-height-1rem {
	max-height: 1rem !important;
}

.max-height-40vh {
	max-height: 40vh !important;
}

.max-height-25vh {
	max-height: 25vh !important;
}



.max-height-45vh {
	max-height: 45vh !important;
}

.max-height-50vh {
	max-height: 50vh !important;
}

.max-height-56-vh {
	max-height: 56vh !important;
}

.max-height-58-vh {
	max-height: 58vh !important;
}

.max-height-38-vh {
	max-height: 38vh !important;
}

.max-height-59-vh {
	max-height: 59vh !important;
}

.max-height-60-vh {
	max-height: 60vh !important;
}

.max-height-65-vh {
	max-height: 65vh !important;
}

.max-height-70-vh {
	max-height: 70vh !important;
}

.max-height-75-vh {
	max-height: 75vh !important;
}

.min-height-0-7-5-rem {
	min-height: 0.75rem !important;
}

.min-height-1-rem {
	min-height: 1rem !important;
}

.min-height-1-2-rem {
	min-height: 1.2rem !important;
}

.min-height-1-5-rem {
	min-height: 1.5rem !important;
}
.min-height-1-7-5-rem {
	min-height: 1.75rem !important;
}

.min-height-2-rem {
	min-height: 2rem !important;
}

.min-height-2-5-rem {
	min-height: 2.5rem !important;
}

.min-height-10-rem {
	min-height: 10rem !important;
}
.min-height-93-vh {
	min-height: 93vh !important;
}
.min-height-85-vh {
	min-height: 85vh !important;
}

.min-height-4-vh {
	min-height: 4vh !important;
}

.full-width-vw {
	width: 100vw;
}

//Fixed Height in %

.height-5-per {
	height: 5% !important;
}

.height-10-per {
	height: 10% !important;
}

.height-15-per {
	height: 15% !important;
}

.height-20-per {
	height: 20% !important;
}

.height-25-per {
	height: 25% !important;
}

.height-30-per {
	height: 30% !important;
}

.height-35-per {
	height: 35% !important;
}

.height-40-per {
	height: 40% !important;
}

.height-45-per {
	height: 45% !important;
}

.height-50-per {
	height: 50% !important;
}

.height-55-per {
	height: 55% !important;
}

.height-60-per {
	height: 60% !important;
}

.height-65-per {
	height: 65% !important;
}

.height-70-per {
	height: 70% !important;
}

.height-75-per {
	height: 75% !important;
}

.height-80-per {
	height: 80% !important;
}

//vh height
.full-height-vh {
	height: 100vh;
}

.height-30-vh {
	height: 30vh !important;
}

.height-40-vh {
	height: 40vh !important;
}

.height-60-vh {
	height: 60vh;
}

.height-80-vh {
	height: 80vh;
}

// Line height
.line-height-05 {
	line-height: 0.5 !important;
}

.line-height-1 {
	line-height: 1 !important;
}

.line-height-2 {
	line-height: 2 !important;
}

.height-auto {
	height: auto !important;
}

//Transformations

.rotate-45 {
	transform: rotate(45deg);
}

.rotate-45-inverse {
	transform: rotate(-45deg);
}

.rotate-90 {
	transform: rotate(45deg);
}

.rotate-90-inverse {
	transform: rotate(-45deg);
}

.rotate-180 {
	transform: rotate(180deg);
}

.rotate-180-inverse {
	transform: rotate(-180deg);
}

//Pull the element
.pull-up {
	transition: all 0.25s ease;

	&:hover {
		transform: translateY(-4px) scale(1.02);
		box-shadow: 0px 14px 24px rgba(62, 57, 107, 0.2);
		z-index: 30;
	}
}

// Spinner classes
.spinner {
	display: inline-block;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spinner-reverse {
	display: inline-block;
	animation: spin-reverse 1s linear infinite;
}

@keyframes spin-reverse {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

//
// Image
//

.text-white {
	color: white !important;
}
.text-red{
	color: red !important;
}
.text-black{
	color: #1e1e20;
}
//Background Image
.bg-turquoise-im {
	background-color: $color-turquoise !important;
}

.bg-turquoise-light {
	background-color:  
	rgba(202, 240, 236, 0.6) !important;
}
.bg-darkgray{
	background-color: #CACACA;
}
.bg-white {
	background-color: $color-white !important;
}

.bg-first-row {
	background-color: #f3f3f5 !important;
}

.bg-selected-row {
	background-color: #dbe4f3 !important;
}

.bg-light-yellow {
	background-color: #FFF2CD !important;
}

.bg-cover {
	background-size: cover !important;
}

.bg-light-blue {
	background-color: #86efdc;
}

.background-repeat {
	background-repeat: repeat !important;
}

.background-no-repeat {
	background-repeat: no-repeat !important;
}

.bg-blue-dark {
	background-color: #273a48 !important;
}

// Extra large
.img-xl {
	width: 64px !important;
	height: 64px !important;
}

// Large
.img-lg {
	width: 44px !important;
	height: 44px !important;
}

// Small
.img-sm {
	width: 36px !important;
	height: 36px !important;
}

// Mini
.img-xs {
	width: 32px !important;
	height: 32px !important;
}

// Bullets used in application pages
.d-flex-reverse-row{
	display: flex;
	flex-direction: row-reverse;
}
.flex-direction-column-reverse{
	flex-direction: column-reverse !important;
}
.bullet {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;

	&.bullet-xs {
		width: 0.5rem;
		height: 0.5rem;
	}

	&.bullet-sm {
		width: 0.714rem;
		height: 0.714rem;
	}

	&.bullet-lg {
		width: 1.25rem;
		height: 1.25rem;
	}
}

// color adio
.color-radio {
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.radio-content {
		height: 20px;
		width: 20px;
		display: block;
		border-radius: 50%;
	}
}

.align-self-center {
	align-self: center !important;
}

// Match Height
.match-height {
	.card {
		height: calc(100% - 2.2rem);
	}
}

.elipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.textNoWrap{
	white-space: nowrap !important;
}
.underline {
	text-decoration: underline !important;
}

.align-right {
	text-align: right !important;
}

.align-center {
	text-align: center !important;
}

.align-left {
	text-align: left !important;
}

.rounded {
	border-radius: 50% !important;
}

.round-edge {
	border-radius: 0.5rem !important;
}

.round-edge-xs {
	border-radius: 0.3rem !important;
}

.red-border {
	border: 1px solid red !important;
}

.border-radius-3px {
	border-radius: 3px !important;
}

.border-ag {
	border: 1px solid #babfc7 !important;
}

.margin-auto {
	margin: auto !important;
}

#test-select  .select__placeholder  {
    z-index: -1;
}

#test-select   .select__input {
    width: 100%;
}

#test-select  .select__input  input {
    width: 100% !important;
}

.margin-0-auto {
	margin: 0 auto !important;
}

.m-auto-t-1 {
	margin: 1rem auto auto auto !important;
}

.m-auto-t-1-5 {
	margin: 1.5rem auto auto auto !important;
}
.m-auto-7-rem{
	margin: 5rem auto !important;
}
.mb-0-5 {
	margin-bottom: 0.5rem !important;
}

.mb-1-5 {
	margin-bottom: 1.5rem !important;
}

.mb-2-2-5 {
	margin-bottom: 2.25rem !important;
}

.mb-2-5 {
	margin-bottom: 2.5rem !important;
}

.mb-3 {
	margin-bottom: 3rem !important;
}

.mb-18px {
	margin-bottom: 18px !important;
}


.icon-rotate {
	transform: rotate(180deg);
	transition: transform 150ms ease;
}

.pointer {
	cursor: pointer !important;
}

/* colors */
.text-black {
	color: $color-black !important;
}

.text-white {
	color: $color-white !important;
}

.text-gray {
	color: #5c809a !important;
}

.text-lightGray {
	color: lightgray !important;
}

.text-turquoise {
	color: $color-turquoise !important;
}

.text-turquoise-non {
	color: $color-turquoise;
}

.text-light-purple {
	color: #707090 !important;
}

.full-page {
	position: fixed;
	z-index: 10001;
	top: 0;
	left: 0;
	height: 100vh;
}

.p-0 {
	padding: 0 !important;
}

.p-05 {
	padding: 0.5rem !important;
}

.p-075 {
	padding:  0.75rem !important;
}

.p-085 {
	padding:  0.85rem !important;
}

.p-1 {
	padding: 1rem !important;
}

.p-1-5 {
	padding: 1.5rem !important;
}

.p-ac {
	padding: 0.5rem 0 !important;
}

.oval {
	width: 0.6rem;
	height: 0.6rem;
}

.justify-content-evenly {
	justify-content: space-evenly;
}

.justify-content-start {
	justify-content: flex-start !important;
}

.justify-content-end {
	justify-content: flex-end !important;
}

.flex-direction-row-reverse {
	flex-direction: row-reverse !important;
}

.svg-black {
	fill: black;
}

.svg-white {
	fill: white !important;
}

.svg-primary {
	fill: $color-turquoise !important;
}

.bg-opacity {
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.flash-bg-opacity {
	// flash focus btn
	-webkit-animation: FLASH-BTN 1s infinite;
	/* Safari 4+ */
	-moz-animation: FLASH-BTN 1s infinite;
	/* Fx 5+ */
	-o-animation: FLASH-BTN 1s infinite;
	/* Opera 12+ */
	animation: FLASH-BTN 0.5s infinite;
	/* IE 10+, Fx 29+ */

	@keyframes FLASH-BTN {

		0%,
		49% {
			background-color: transparent;
			// border: 3px solid red;
		}

		50%,
		100% {
			background-color: transparent;
			background-color: rgba(161, 148, 148, 0.1);
		}
	}
}

.placeholder-text-black {
	&::placeholder {
		color: $color-black !important;
	}
}

.placeholder-text-bold-700 {
	&::placeholder {
		font-weight: bold !important;
	}
}

.grayscale {
	filter: grayscale(100%);
}

.d-rtl {
	direction: rtl !important;
}

.d-ltr {
	direction: ltr !important;
}

.font-small-3-03 {
	font-size: 1.03rem !important;
}

.font-small-3-5 {
	font-size: 1.1rem;
}

.divider-small {
	width: 1.5px;
	height: 1.5rem !important;
	background-color: lightgray;
}
.divider-small-plano {
	width: 2px;
	height: 4rem !important;
	background-color: #f3f3f5;
}

.font-weight-400 {
	font-weight: 400;
}

.ssadasd {
	svg {
		width: 10rem !important;
		height: 10rem !important;
	}
}

.smooth-scroll {
	scroll-behavior: smooth;
}

.right-08-rem {
	right: 0.8rem !important;
}

.transform-90deg {
	transform: rotate(-90deg) !important;

}

.font-size-1-rem {
	font-size: 1rem !important;
}

.sweet-alert {
	.btn {
		left: -10px !important;
		top: -7px !important;
	}
}

// @media print {

// 	html,
// 	body {
// 		height: 99%;
// 	}
// }
.grid-btn-outline {
	border: 1px solid #31baab !important;
    background-color: white !important;
	color: #31baab !important;
}
.select--is-disabled {
	.select__control {
		background-color: #babac1!important;
	}
}

.disabled-background {
	background-color: #babac1!important;
}

.disabled-color {
	color: #A5A5A7 !important
}

.no-resize {
	resize: none !important;
}

.border-radius-10 {
	border-radius: 10px !important;
}


.input-placeholer-black {
	&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		color: black !important;
		opacity: 1  !important; /* Firefox */
	  }
}
.print__element_orders {
	position: absolute; top: 1rem; right: 10%; height: 100% !important; width: 80%;
	background-color: white;
	z-index: 9999;
	// overflow-x:visible !important;
	// overflow-y:visible !important;
	overflow: scroll !important;
	display: inline !important;
	// page-break-after:always;
}
@page { margin: 0mm; }
@media print {
	body , .blackPopUp ,.printButtonInOverlay ,.main-menu{
		visibility: hidden;
	  }

	.ag-theme-alpine{
		display: none !important;
	}
	.print__element_orders{
			overflow-x:visible !important;
	overflow-y:visible !important;
		visibility: visible !important;
		width: 100%;
		left: 0 !important;
	}
	.print__element{
		visibility: visible !important;
	}
	footer{
		display: none !important;
	}
	.app-content{
		overflow: visible !important;
	}
}