.form-group {
	margin-bottom: 2.5rem !important;

	&__select {
		&__value-container {
			display: flex !important;
			flex-direction: row !important;
			text-align: right !important;
			align-items: flex-start !important;
			flex-wrap: nowrap !important;
		}
		&__multi-value {
			min-width: 4.5rem !important;
		}
		
	
	}
	&__title {
		margin-bottom: 1.5rem;
		font-size: 1.3rem;
		font-weight: bold;
		color: #1e1e20;
	}

	&__additional-group_title {
		display: flex;
		font-size: 1rem;
		font-weight: 600;
		color: #1e1e20;
	}

	&__list,
	&__additional-group_list {
		list-style: none;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem 2rem;
	}

	&__additional-group_list {
		width: 100%;
		grid-template-columns: repeat(3, 31%);
		padding: 0 10px 0 0;
		margin: 0;
		overflow-y: auto;
		max-height: 220px;
	}

	&__item {
		min-width: 0;
		align-self: end;
		grid-column: span 2;
	}

	&__field {
		margin: 0;
		display: flex;
		flex-direction: column;
		align-self: end;

		&_text,
		&_number,
		&_number-separate {
			width: 100% !important;
			padding: 0.5rem 1rem;
			border-radius: 1.5rem;
			border: solid 1.5px #e6e8ed;
			background-color: white;
			font-size: 1rem;
			font-weight: 600;
			color: #1e1e20;
			transition: border-color 0.15s ease-in-out;

			&:focus {
				outline: none;
				border-color: #31baab;
			}
		}

		&_date {
			position: relative;
			display: flex;
			z-index: 0;

			input {
				margin: 0 !important;
				border-radius: 1.5rem !important;
			}
		}

		&_date-icon {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
		}

		&_select,
		&_select-separate {
			width: 100%;
			border: 1px solid #e6e8ed;
			border-radius: 1.5rem;
			font-size: 1rem;
			font-weight: 600;
			color: #1e1e20;
			transition: border-color 0.15s ease-in-out;

			&:focus {
				outline: none;
			}

			* {
				border: none;
				overflow: hidden;
			}
		}

		&_separate {
			position: relative;
			display: grid;
			grid-template-columns: 60% 40%;

			&:after {
				content: "";
				position: absolute;
				right: 40%;
				top: 50%;
				transform: translateY(-50%);
				display: block;
				width: 1px;
				height: 20px;
				opacity: 0.9;
				background-color: #e9ebef;
			}
		}

		&_number-separate {
			border-radius: 1.5rem 0 0 1.5rem;
			border-right: none;
		}

		&_select-separate {
			border-radius: 0 1.5rem 1.5rem 0;
			border-left: none;
		}
	}

	&__label {
		display: block;
		// margin-bottom: 0.5rem;
		margin-left: 1rem;
		font-size: 0.85rem;
		font-weight: bold;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: visible;
		color: #8f8f8f;
	}

	&__checkbox-field {
		display: flex !important;
		flex-direction: row-reverse !important;
		justify-content: flex-end !important;
		margin-bottom: 0.55rem;

		&_checkbox {
			order: -1;
		}

		.form-group__label {
			margin-right: 0.2rem;
			margin-left:0!important;
			// margin-bottom: 0.8rem;
		}
	}

	&__additional-group {
		padding: 16px;
		margin-top: 1rem;
		border-radius: 8px;
		// overflow: hidden;

		&_label {
			margin-right: 10px;
		}

		&_action-btn {
			font-weight: bold;
			color: #31baab;
			cursor: pointer;
		}

		&_content {
			display: flex;
			flex-direction: column;
			max-height: 0;
			overflow: hidden;
			transition: all 0.3s;
		}

		&_selected {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1rem;
			list-style: none;
			padding: 0;
		}

		&_selected-item {
			padding: 0.7rem 1.1rem;
			border-radius: 20px;
			background-color: #f3f3f5;
			font-size: 1rem;
			font-weight: 600;
			color: #1e1e20;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.is-open-content {
			display: none;
		}

		&.is-open {
			background-color: #f3f3f5;

			.form-group__additional-group_content {
				max-height: 170px;
			}

			.form-group__additional-group_title {
				margin-bottom: 1.2rem;
				font-size: 16px;
				font-weight: bold;
				color: #1e1e20;
			}

			.form-group__additional-group_action-btn {
				display: none;
			}
		}

		.form-group__label {
			margin-bottom: 0.5rem;
			font-size: 1rem;
			font-weight: normal;
			color: #1e1e20;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&_apply-changes {
			margin: 1.2rem 0 0.8rem;
			align-self: flex-end;
		}
	}

	img,
	video,
	audio,
	canvas,
	input,
	select,
	button,
	progress {
		max-width: 100% !important;
	}

	/* Заставляем поля с типом file и submit переносить текст */
	input[type="file"],
	input[type="submit"] {
		white-space: pre-wrap !important;
	}

	/* Чиним прогрессбар и поле-ползунок */
	progress,
	input[type="range"] {
		width: 100% !important;
	}

}
.select-menu-option:hover{
	background-color: #DEEBFF;
}