.select__control {
	display: flex;
	width: 12rem !important;
	border-radius: 2rem;
	height: 2.3rem !important;
	background-color: white;
	// border: 1px solid #ededed !important;
	cursor: pointer;
}

.css-1wa3eu0-placeholder {
	color: black !important;
}

.css-1uccc91-singleValue {
	color: black !important;
}

.diFlex {
	width: 40%;
	justify-content: center;
	display: flex !important;
}

.mb-1 {
	margin-bottom: 1rem;
}

.bg-lightgray {
	background-color: #eaf0f0;
}

.divider {
	width: 1.5px;
	height: 1.8vh;
	margin: 10px 23px 9px;
	border: solid 1px #e6e8ed;
}
.visibility-hidden{
	visibility: hidden;
}

.charts {
	display: flex;
	flex-direction: column;
	width: 40%;
	justify-content: center;
	padding: 0.5rem;
}

.chartFather {
	width: 95%;
	// margin: auto;
	border-radius: 5px;
	padding: 0.7rem;
}

.checkBoxBorder {
	width: 1rem;
	height: 1.6vh;
	// margin: 1.1rem 5.1px 0 0.07rem;
	border-radius: 0.18rem;
	border: solid 1.5px #d8d8d8;
}

.checkBoxSelected {
	width: 1rem;
	height: 1.6vh;
	border-radius: 3px;
	background-color: #31baab;
}

.productImage {
	max-height: 5rem !important;
	width: auto !important;
	max-width: 4rem !important;
}

.productImageModal {
	max-height: 8rem !important;
	width: auto !important;
	max-width: 6rem !important;
}

.allSales {
	margin-right: 1.5rem;
	// margin-right: auto !important;
}

.aboveChartsTitle {
	display: flex !important;
	justify-content: flex-start;
	height: 13vh !important;
}

.gridSwitchButton {
	padding: 0.5vh;
}

.gridMain {

	display: flex;
	// align-items: center;
	// justify-content: center;
	flex-wrap: wrap;
}

.gridItem {
	margin: 0 0.5%;
	flex: 1 1 10rem;
	min-width: 48%;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
}

.gridItemAverage {
	margin: 0 0.5%;
	flex: 1 1 10rem;
	min-width: 26%;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
}

.gridItemSmall {
	margin: 0 0.5%;
	flex: 1 1 10rem;
	min-width: 23.4%;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
}


.customGridItem {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	grid-gap: 0.2rem;
}

.ag-overlay-no-rows-wrapper {
	margin-top: 1rem !important;
}

table.minimalistBlack {
	border-radius: 2rem;
	border: 1px solid #ececec!important;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.minimalistBlack td,
table.minimalistBlack th {
	border: 1px solid #ececec!important;
	padding: 5px 4px;
}

table.minimalistBlack tbody td {
	border-radius: 2rem;
	font-size: 0.85rem;
	font-weight: 700;
	padding: 0.2rem;
}

table.minimalistBlack thead {
	border-radius: 2rem;
	background: #CFCFCF;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
	border-bottom: 1px solid lightgray;
}

table.minimalistBlack thead th {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	text-align: left;
}

table.minimalistBlack tfoot {
	border-radius: 2rem;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	border: 1px solid #ececec!important;
}

table.minimalistBlack tfoot td {
	font-size: 14px;
}
