@import '@src/assets/styles/colors';
@import '@src/settings';

.c-card {
	position: relative;
	min-height: 70px;
	padding: 0.625rem;
	border-radius: 0.3125rem;
	margin: 0 -0.625rem 0.9375rem;
	background-color: $color-white;
	@include flex-column(nowrap, flex-start, space-between);

	&--dragged {
		border: 1px solid $color-gray8;
		box-shadow: 0 0 0.625rem 0 $color-light2;
		background-color: rgba(255, 255, 255, 0.5);
	}

	&__description {
		padding-bottom: 1.3rem;

		input {
			font-size: 1rem;
			font-weight: 300;
			color: $color-gray;
			line-height: 1.2;
			padding: 0;
			border: 0;
			width: 100%;

			&::placeholder {
				opacity: 0.35;
			}
		}
	}

	&__label {
		background-color: $color-blue;
		padding: 0.1875rem 0.625rem;
		font-size: 0.75rem;
		color: $color-white;
		border-radius: 0.1875rem;
		margin-right: 0.42rem;
		min-width: 5.3125rem;
		text-align: center;
	}

	&__date {
		font-size: 0.75rem;
		line-height: 1.67;
		color: $color-gray7;
		@include flex-row(nowrap, center, flex-start);

		svg {
			width: 1rem;
			height: 1.0625rem;
			margin-right: 0.19rem;
			opacity: 0.5;
		}
	}

	&__button {
		margin-left: auto;
		visibility: hidden;
		opacity: 0;
		padding: 0;
		transition: all $timing $easing;
	}

	&__body {
		width: 100%;
	}

	&__footer {
		@include flex-row(nowrap, center, flex-start);
		width: 100%;
	}

	&:last-of-type {
		margin-bottom: 10px;
	}

	@include hover {
		.c-card__button {
			visibility: visible;
			opacity: 1;
		}
	}

	@media (max-width: 1280px) {
		&__description {
			input {
				font-size: 0.9rem;
			}
		}

		&__label {
			font-size: 0.65rem;
		}
	}

	@media (max-width: 1024px) {
		&__button {
			visibility: visible;
			opacity: 1;
		}
	}
}
