@import "@src/settings";
@import "@src/assets/styles/colors";
@import "react-date-range/dist/styles.css"; // main style file
@import "react-date-range/dist/theme/default.css"; // theme css file

.c-calendar {
	border-right: 1px solid #f3f3f5;
	border-bottom: 1px solid #f3f3f5;
	z-index: 10;
	height: 21rem !important;

	&--inRow {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 35;
	}
}

.c-calendar2 {
	border-left: 1px solid #f3f3f5;
	border-bottom: 1px solid #f3f3f5;
	z-index: 10;
	height: 21rem !important;

	&--inRow {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 35;
	}
}

.is-calendar-open {
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 30;
	}
}

.rdrMonthPicker {
	font-family: Assistant;
	font-size: 18px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #1e1e20;

	select {
		font-weight: 800;
	}
}

.rdrYearPicker {
	font-family: Assistant;
	font-size: 18px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #1e1e20;

	select {
		font-weight: 800;
	}
}

.rdrDayStartPreview {
	border: 1px solid #31baab !important;
}

.rdrDayNumber span {
	font-family: Assistant;
	font-weight: 800;
	font-size: 14px;
}

.rdrSelected {
	background-color: #31baab !important;
}

.rdrDayToday .rdrDayNumber span:after {
	display: none;
}

.rdrMonthAndYearPickers {
	background: none;
	padding: 0 !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;

	span {
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;

		select {
			padding: 0 !important;
			text-align: center;
			display: flex;
			justify-content: center;
		}

		// padding: 0.625rem;
	}
}

.rdrMonthPicker {
	margin: 0 !important;
}

// .rdrWeekDay {
// 	font-size: 0.6875rem;
// 	font-weight: 300;
// 	color: $color-gray9;
// 	text-transform: uppercase;
// 	letter-spacing: 1px;
// 	line-height: 1.57;
// }

// .rdrNextPrevButton {
// 	margin: 0 1.666rem;
// }

// .rdrPprevButton,
// .rdrNextButton {
// 	position: relative;
// 	border-radius: 0;
// 	width: 0.6875rem;
// 	height: 0.6875rem;
// 	background-color: transparent;
// 	border-left: 0.125rem solid $color-white;
// 	border-bottom: 0.125rem solid $color-white;
// 	transition: all $timing $easing;

// 	i {
// 		display: none;
// 	}

// 	@include hover {
// 		background-color: transparent;
// 		border-left: 0.125rem solid rgba($color-white, 0.5);
// 		border-bottom: 0.125rem solid rgba($color-white, 0.5);
// 	}
// }

// .rdrPprevButton {
// 	transform: rotate(45deg);
// }

// .rdrNextButton {
// 	transform: rotate(225deg);
// }

// .rdrYearPicker {
// 	display: none;
// }
.rdrMonth {
	width: 19.1rem;
}

.rdrDay {
	width: 2.5rem;
}

.rdrCalendarWrapper {
	overflow: hidden;
	width: 19rem !important;
	// border: 1px solid black;
}

.rdrWeekDays {
	.rdrWeekDay {
		font-weight: 600;
	}
}
.rdrMonths {
	min-height: 18rem !important;
}
.rdrMonthAndYearWrapper {
	// width: 5rem !important;
}

.rdrNextPrevButton {
	background-color: white !important;
}

// .rdrSelected {
// 	border-radius: 50%;
// 	background-color: $color-blue5;
// .rdrDayNumber span {
// 	font-weight: 800;
// }
// }

// .rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
// 	font-weight: 800;
// }

// .rdrDayStartPreview,
// .rdrDayNumber,
// .rdrEndEdge,
// .rdrInRange,
// .rdrSelected,
// .rdrStartEdge {
// 	left: 0;
// 	right: 0;
// 	top: 0;
// 	bottom: 0;
// 	border-radius: 50% !important;
// }

// .rdrDayHovered {
// 	span::after {
// 		content: none !important;
// 	}
// }

// .rdrDayToday .rdrDayNumber span:after {
// 	background-color: $color-blue5;
// 	bottom: 0.4375rem;
// }

// .rdrDayStartPreview,
// .rdrEndPrevire {
// 	color: $color-blue5 !important;
// }
// .flatpickr-calendar {
// 	position: absolute !important;
// 	top: 12rem !important;
// 	left: 1.5rem;
// 	z-index: 5;
// }

.flatpickr-month {
	background-color: white !important;
}

.flatpickr-weekdays {
	background-color: white !important;
}

.numInput {
	font-weight: bold !important;
	color: black !important;
}

.cur-month {
	color: black !important;
	font-weight: bold !important;
}

.flatpickr-weekday {
	color: black !important;
	background-color: white !important;
}

.flatpickr-next-month {
	fill: black !important;
	margin-top: 0.5rem;
	transform: rotate(180deg);
}

.flatpickr-prev-month {
	fill: black !important;
	margin-top: 0.5rem;
	transform: rotate(180deg);
}
.flatpickr-prev-month:hover {
	fill: black !important;
}

.calendar {
	border: 5px solid black;
}

.date__inputBar {
	border: 1px solid #ededed !important;
	width: 14rem;
	height: 2.4rem !important;

	.date__icon {
		width: 1.8rem !important;
		height: 2.6rem !important;
		margin-left: auto;
	}
}

.date__container_single {
	position: absolute !important;
	z-index: 2;
	width: 20rem !important;
	height: 25rem;
	margin: 7.125rem 2rem 0 0.5rem;
	padding: 1.438rem 2rem 1.125rem !important;
	border-radius: 0.25rem;
	box-shadow: 0 0.25rem 1.25rem 0 rgba(176, 175, 175, 0.5);
	background-color: #ffffff;
}
.date__container {
	position: absolute !important;
	z-index: 2;
	// left: 8rem !important;
	// top: -0.7rem !important;
	width: 40rem !important;
	height: 28rem;
	margin: 7.125rem 2rem 0 0.5rem;
	padding: 1.438rem 2rem 1.125rem !important;
	border-radius: 0.25rem;
	box-shadow: 0 0.25rem 1.25rem 0 rgba(176, 175, 175, 0.5);
	background-color: #ffffff;

	.date__title {
		position: absolute;
		margin: 0.09rem;
		padding: 0;
		text-align: center;
		border: none !important;
		font-size: 0.85rem;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #8f8f8f;
	}

	.date__title--right {
		left: 23%;
	}

	.date__title--left {
		right: 23%;
	}

	.date__displayFullDate {
		position: absolute;
		bottom: 0;
		font-family: Assistant;
		font-size: 14px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #1e1e20;
	}
}
.date__onlyPopUp {
	right: -22rem !important;
}
.flatpickr-calendar{
	left: 10vw !important;
}
.arrowTop::before{
	border: none !important;
}