.add-order-modal {
	&__select {
		font-size: 1rem;
		font-weight: 600;
		width: 100%;
		border: 1px solid #e0e0e0;
		border-radius: 1.5rem;
		color: #1e1e20;
		transition: border-color .15s ease-in-out;
		z-index: 100;

		&:focus {
			outline: none;
		}

		* {
			border: none;
			border-radius: 1.5rem;
		}
	}

	&__date {
		position: relative;
		display: flex;

		&_icon {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-25%);
			z-index: 10;
		}

		input {
			border-radius: 1.5rem !important;
		}
	}
}
