.modal-header {
	&__close-btn {
		display: inline-flex;
		border: none;
		background-color: transparent;
		padding: 10px;
		border-radius: 50%;
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		

		&:hover {
			background-color: rgba(30,30,32,.1);
		}

		&:focus {
			outline: none;
		}
	}

	&__content {
		font-size: 1.4rem;
		font-weight: bold;
		color: #1e1e20;
	}
}
