.orderAnalyza__switch {
    .custom-control-label::before {
        background-color: #31baab !important;
    }
}
.select__control {
    overflow: hidden !important;
}
.select__value-container {
    display: flex !important;
    flex-direction: column !important;
    text-align: right !important;
    align-items: flex-start !important;
}
