.drawer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999999 !important;
	display: none;
	overflow: hidden;
	outline: 0;

	&.show {
		display: block;
	}

	&__backdrop {
		width: 100%;
		height: 100%;
		background-color: transparent;

		&_fade {
			background-color: black;
			opacity: 0.5;
		}
	}
}
