@import "@src/settings";
@import "@src/assets/styles/colors";

.ag-root-wrapper-body {
	overflow: visible;
	border: solid 1px #ececec !important;
}

.ag-theme-alpine [class^="ag-"],
.ag-theme-alpine [class^="ag-"]:after,
.ag-theme-alpine [class^="ag-"]:before,
.ag-theme-alpine [class^="ag-"]:focus {
	border: unset;
}

// .ag-theme-alpine {
//   position: relative !important;
// }
.ag-row-group-leaf-indent {
	.ag-group-value {
		display: none !important;
	}
}

// .ag-header-row{
//   border: solid 1px #ececec !important;
// }
.ag-header-container {
	background-color: white;
	// border: solid 1px #ececec !important;
}

.ag-header-container {
	width: 500rem !important;
}

.flatpickr-mobile {
	display: none !important;
}

.ag-body-viewport {
	// direction: rtl!important;
	overflow: auto !important;
}

::-webkit-scrollbar {
	width: 0.6rem;
	height: 1rem;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	opacity: 0;
}

::-webkit-scrollbar-thumb {
	background: #d5d5d5;
	border-radius: 3.5px;
	height: 15rem !important;
}

::-webkit-scrollbar-thumb:hover {
	background: #a8a7a7;
}

.ag-center-cols-clipper {
	direction: ltr !important;
}

.ag-selection-checkbox {
	margin: 0 0.5vw 0 0 !important;
}

.ag-cell-focus:not(.ag-cell-range-selected) {
	border-color: transparent !important;
}

.ag-floating-bottom {
	background-color: #ececec;
	overflow: hidden !important;
}

.ag-react-container {
	width: 100% !important;
	overflow: hidden !important;
	font-size: 1.07rem;

	display: flex !important;
	flex-direction: flex-start !important;
	justify-content: flex-end !important;

}
.columnSortTitle{
	margin:auto !important
}
.ag-custom-loading-cell{
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.ag-header-cell {
	direction: rtl !important;
	flex-direction: row !important;
	overflow: visible !important;
	padding: 0 !important;
}



.ag-select-list-item:hover {
	background-color: $color-turquoise !important;

	span {
		color: white !important;
	}
}

.ag-select-list-item {
	padding: 1.2rem 1rem !important;
}

.ag-input-field-input {
	border: 0 !important;
}

.ag-right-aligned-header .ag-header-cell-label {
	flex-direction: row !important;
}

.ag-right-aligned-header .ag-cell-label-container {
	flex-direction: row-reverse !important;
}

.ag-row-group {
	font-weight: bold;
	height: 5rem;

	.ag-cell-wrapper {}
}

.ag-row-pinned {
	background-color: #ececec !important;

	.ag-cell {
		background-color: #ececec;
		border: unset !important;
	}
}

.ag-pinned-right-header {
	background-color: white !important;
}

.ag-row-selected {
	background-color: transparent !important;
	//background-color:var(--ag-selected-row-background-color,rgba(33,150,243,.3))!important;
}



.toolTipCell {
	padding: 0 !important;
	margin: 0;
	margin-right: auto !important;
	margin-left: 0.2rem !important;
	text-align: left !important;
	// margin-right: auto !important;
	// margin-left: 0.5rem !important;
}

.ag-right-aligned-cell {
	padding: 0 !important;
	margin: 0;
	// display: flex !important;
	// justify-content: center;
	// direction: rtl !important;
	justify-content: flex-end;
	display: flex !important;

	span {
		margin-right: auto !important;
		margin-left: 0.8rem !important;
		text-align: left !important;
	}
}

.ag-cell,
.ag-cell-wrapper {
	display: flex;
	align-items: center !important;

	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	// background: lightgray;
}

// .ag-row-group-indent-1 {
//   padding-left: 28px;
// }
.ag-row-group-indent-0 {
	width: 100% !important;
}

.ag-row-group-indent-1 {
	width: 90% !important;
}

.ag-row-group-indent-2 {
	width: 80% !important;
}

.ag-row-group-indent-3 {
	width: 70% !important;
}

.ag-row-group-indent-4 {
	width: 60% !important;
}

.custom-tooltip {
	text-align: left;
	position: absolute;
	height: 2rem;
	width: 6rem;
	background-color: black;
	color: white;
	overflow: hidden;
	pointer-events: none;
	transition: opacity 1s;
}

.custom-tooltip.ag-tooltip-hiding {
	opacity: 0;
}

.ag-right-aligned-cell {
	text-align: left !important;
}

.custom-tooltip p {
	margin: 5px;
	white-space: nowrap;
}

.custom-tooltip p:first-of-type {
	font-weight: bold;
}


.ag-theme-alpine .ag-checkbox-input-wrapper {
	background-color: transparent !important;
}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked:after {
	content: '';
	position: absolute;
	border-radius: .25rem;
	right: -1.3rem;
	width: 1.1rem;
	height: 1.1rem;
	top: .1rem;
	border: 1px solid #adb5bd;
	outline: none !important;
	border-color: #31baab;
	background: #31baab no-repeat 50%/50% 50% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
	cursor: pointer !important;
}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-indeterminate {
	&:before {
		content: '';
		position: absolute;
		border-radius: .25rem;
		width: 1.1rem;
		height: 1.1rem;
		top: .1rem;
		background-color: #fff;
		border: 1px solid #adb5bd;
		border-color: #31baab;
		background: #31baab no-repeat 50%/50% 50%;

	}

	&:after {
		content: '';
		position: absolute;
		background-color: #fff;
		right: 3px !important;
		left: 3px !important;
		width: 0.7rem;
		height: 0.15rem;
		top: .57rem;
		z-index: 1;
		cursor: default;
	}
}

[dir] .ag-theme-alpine .ag-indeterminate:after {
	color: #31baab;
	border: none !important;
}


[dir] .ag-theme-alpine .ag-checkbox-input-wrapper:active,
[dir] .ag-theme-alpine .ag-checkbox-input-wrapper:focus-within {
	box-shadow: none;
}

.ag-theme-alpine .ag-checkbox-input-wrapper:after,
.unchecked-input {
	content: '';
	position: absolute;
	border-radius: .25rem;
	right: -1.3rem;
	width: 1.1rem;
	height: 1.1rem;
	top: .1rem;
	background-color: #fff;
	border: 1px solid #adb5bd;
}

.checked-input {
	content: '';
	position: absolute;
	border-radius: .25rem;
	right: -1.3rem;
	width: 1.1rem;
	height: 1.1rem;
	top: .1rem;
	outline: none !important;
	border-color: #31baab;
	background: #31baab no-repeat 50%/50% 50% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3E%3C/svg%3E");
	cursor: pointer !important;
}

.ag-rtl .ag-header-cell-resize {
	right: 0 !important;
	background-color: white !important;
	left: unset !important;
}

.icon-1rem {
	width: 1rem;
	height: 1rem;
}

.ag-icon-asc:before {
	transform: rotate("180deg");
	content: url("/assets/icons/table/sort.svg") !important;
}

.ag-icon-desc:before {
	content: url("/assets/icons/table/sort.svg") !important;
}

.ag-icon-none:before {
	content: url("/assets/icons/table/sort-disabled.svg") !important;
}

.divider {
	width: 1px;
	height: 1.1rem;
	margin-left: 1.19rem !important;
	border: solid 2px #f3f3f5;
}

.headerTitle {
	margin-right: auto !important;
}

.customHeaderLabel {
	font-family: Assistant;
	font-size: 1.03rem !important;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	// text-align: right;
	font-weight: 700 !important;
	// margin-left: 0.8rem !important;
}

.danger {
	color: #d03639 !important;
	font-weight: bold !important;
}

.success {
	color: #6ec482 !important;
	font-weight: bold !important;
}

.success-dark {
	color: #027b7a !important;
	font-weight: bold !important;
}

.success-light {
	color: #4a4ff9e0 !important;
	font-weight: bold !important;
}

.warning {
	color: orange !important;
	font-weight: bold !important;
}

.warning-bg {
	background-color: #f4dede !important;
}

.success-bg {
	background-color: green !important;
}

.danger-bg {
	background-color: red !important;
}

.deleted {
	background-color: #fbfbfb !important;
	color: #bdbdc4;
}

.blue-text {
	color: blue !important;
}

.yellow-text {
	color: #ebcd0c !important;
}

.ag-cell-wrapper {
	margin-right: auto !important;
	margin-left: auto !important;
}

// .left-border {
//   border-right: 1.5px solid darkgray !important;
// }
.ag-cell-first-right-pinned {
	border-right: 0 !important;
}

.newPlanoPopUp {
	.pickDateContainer {
		left: -4rem !important;
	}

	.select__dropdown-indicator {
		visibility: hidden !important;
	}
}

.selectedFilter {
	cursor: pointer;
	display: flex !important;
	justify-content: space-around;
	position: relative !important;
	width: 3.5rem;
	height: 1.7rem;
	z-index: 25;
	top: 5.9rem !important;
	left: 0rem !important;
	margin-left: 0.7rem !important;

	.selected {
		border: 1.5px solid darkgray !important;
	}

	.selectedSortDiv {
		border-radius: 0.2rem;
		margin-left: 0.2rem;
		width: 90%;
		height: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.selectionFilter {
		align-self: center;
		width: 95%;
		height: 95%;
	}
}

.c-popup {
	z-index: 10000;
}

.freeSearchInput {
	width: 20rem !important;
}

.paginationPageSizeContainer {

	// width: 80%;
	// position: absolute !important;
	// bottom: 0.7rem;
	.paginationPageSize {
		font-size: 14px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #1e1e20;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2rem;
		height: 2rem;
	}

	.paginationPageSizeSelected {
		width: 2rem;
		height: 2rem;
		// margin: 0 8px;
		padding: 10px 8px;
		background-color: #f3f3f5;
	}

	.pagination__rowCount {
		// width: 10rem;
		height: 1.125rem;
		font-size: 0.9rem;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #8f8f8f;
	}
}

.ag-paging-row-summary-panel {
	display: none !important;
}

.ag-paging-page-summary-panel {
	margin-top: 0.2rem;
	// z-index: 99998 !important;
}

.ag-paging-panel {
	// z-index: 99999 !important;
}

.ag-right-aligned-cell {
	border: none !important;
}
