.filter-drawer {
	&__title {
		margin-bottom: 2rem;
		font-size: 1.6rem;
		font-weight: bold;
		color: #1e1e20;
	}

	&__body {
		display: flex;
		flex-direction: column;
		max-height: 100%;
		padding: 60px 30px 30px;
		min-height: 90vh !important;
		overflow-y: scroll !important;
	}

	&__accordion {
		overflow: visible !important;
		overflow-y: auto;
	}

	&__form-group {
		padding: 1rem;
		margin-bottom: 0.6rem;
		border-radius: 0.6rem;
		background-color: #f3f3f5;

		.form-group__additional-group_selected-item {
			background-color: white;
		}
	}
}
