
.select__control {
	display: flex;
	width: 12rem !important;
	// border-radius: 2rem;
	height: 2.3rem !important;
	background-color: white;
	border: 1px solid #ededed !important;
}


.progress__text {
	font-size: 1rem;
	font-weight: 600;
	color: #1e1e20;
}

.backArrow {
	margin-top: 0.2rem !important;
}

.orderNum {
	margin: auto 0.5rem auto 0.2rem !important;
}
.print__container {
	overflow: hidden;
	height: 0;
	margin: auto;
	// display: none;

	.print__element {
		// border: 1px solid black !important;

		table {
			margin: auto !important;

			.print__tableHeader {
				border: 1px solid black !important;
				padding: 1rem;
			}
		}
	}
}
.secondProgBar {
	display: none;
}
@media screen and (max-width: 1650px) {
	.firstProgBar {
		display: none;
	}
	.secondProgBar {
		display: block;
	}
}

.printButtonInOverlay{

    cursor: pointer;
}
