.main-menu {
	background-color: #273a48 !important;
	overflow: visible !important;

	.navigation-main {
		background-color: #273a48 !important;
	}

	.main-menu-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&.collapsed {
		.navigation-main {
			.nav-item {
				.menu-title {
					max-width: 0;
					overflow: hidden;
				}

				.sub-menu {
					display: none;
				}
			}
		}

		.bottom-menu {
			overflow: hidden !important;
			.bottom-menu__item {
				span {
					max-width: 0;
					overflow: hidden;
				}
			}
		}
	}
}
