.sidebarAccordion{
    padding: 0.1rem 0 !important;
}
.select_filter__control {
	display: flex;
	width: 9.3rem !important;
	border-radius: 2rem;
	height: 1.8rem !important;
	background-color: white;
	border: 1px solid #ededed !important;
	cursor: pointer;
}
.select_filterA__control {
	display: flex;
	width: 10rem !important;
	border-radius: 2rem;
	height: 1.8rem !important;
	background-color: white;
	border: 1px solid #ededed !important;
	cursor: pointer;
}
.select_filterA__value-container{
	flex-direction: column;
    display: flex !important;
	justify-content: flex-start;
    align-items: flex-start !important;
}
.select_filterA__multi-value{
	border-radius: 0.2rem !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
}