.accordion-drawer {
	&__title {
		margin-bottom: 2rem;
		font-size: 1.6rem;
		font-weight: bolder;
		color: #1e1e20;
	}

	&__body {
		display: flex;
		flex-direction: column;
		max-height: 100%;
		padding: 60px 30px 30px;
		min-height: 90vh !important;
		overflow-y: scroll !important;
	}

	&__accordion {
		overflow: visible !important;
		overflow-y: auto;
	}

	&__form-group {
		padding: 1rem;
		margin-bottom: 0.6rem;
		border-radius: 0.6rem;
		background-color: #f3f3f5;

		.form-group__additional-group_selected-item {
			background-color: white;
		}
		.form-group__select__multi-value__remove {
			overflow: unset !important;
			width: 30% !important;
			margin-left: auto !important;
			display: flex !important;
			justify-content: center !important;
		}
		.form-group__select__multi-value__label {
			width: 100% !important;
		}
		.form-group__select__multi-value{
			margin: auto !important;
		}
	}
}

.tab-drawer {
	&__body {
		height: 100vh;
		overflow-y: visible !important;
		overflow-x: visible !important;
		overflow: visible !important;
		max-height: 100%;
		padding: 60px 30px 30px 20px;
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 2rem;
		position: relative;
		display: flex;
		align-items: center;

		input {
			background: transparent;
			border: none;
			font-size: 1.6rem;
			font-weight: bold;
			color: #1e1e20;
			cursor: default;
		}

		svg {
			position: absolute;
			right: 0;
		}
	}

	&__tab-content {
		padding-right: 10px;
		// overflow-y: auto;
	}

	&__tabs {
		margin-bottom: 2rem;
	}

	&__footer {
		display: flex;
		justify-content: flex-start;
		padding-top: 1rem;

		button {
			justify-self: flex-end !important;
			width: 120px;
		}
	}
}
