.select__control {
	display: flex;
	width: 12rem !important;
	border-radius: 2rem;
	height: 2.3rem !important;
	background-color: white;
	// border: 1px solid #ededed !important;
	cursor: pointer;
}
.css-1wa3eu0-placeholder {
	color: black !important;
}

.css-1uccc91-singleValue {
	color: black !important;
}

.diFlex {
	width: 40%;
	justify-content: center;
	display: flex !important;
}

.mb-1 {
	margin-bottom: 1rem;
}

.bg-lightgray {
	background-color: #eaf0f0;
}

.divider {
	width: 1.5px;
	height: 1.8vh;
	margin: 10px 23px 9px;
	border: solid 1px #e6e8ed;
}

.charts {
	display: flex;
	flex-direction: column;
	width: 40%;
	justify-content: center;
	padding: 0.5rem;
}

.chartFather {
	width: 95%;
	// margin: auto;
	border-radius: 5px;
	padding: 0.7rem;
}

.checkBoxBorder {
	width: 1rem;
	height: 1.6vh;
	// margin: 1.1rem 5.1px 0 0.07rem;
	border-radius: 0.18rem;
	border: solid 1.5px #d8d8d8;
}

.checkBoxSelected {
	width: 1rem;
	height: 1.6vh;
	border-radius: 3px;
	background-color: #31baab;
}
.productImage {
	max-height: 5rem !important;
	width: auto !important;
	max-width: 4rem !important;
}

.productImageModal {
	max-height: 8rem !important;
	width: auto !important;
	max-width: 6rem !important;
}
.allSales {
	margin-right: 1.5rem;
	// margin-right: auto !important;
}
.aboveChartsTitle {
	display: flex !important;
	justify-content: flex-start;
	height: 13vh;
}
.gridSwitchButton {
	padding: 0.5vh;
}
@media screen and (max-width: 1025) {
	// .itemTrends {
	// 	flex-direction: column;

	// 	.gridFather {
	// 		width: 100% !important;
	// 	}
	// 	#bar {
	// 		width: 100% !important
	// 	}

	// 	.aboveChartsTitle {
	// 		display: flex;
	// 		flex-direction: row-reverse;
	// 		margin: 0 !important;
	// 		margin-top: 0.5rem !important;
	// 		margin-right: auto !important;
	// 		height: 5vh !important;
	// 	}
	// }

	.allSales {
		margin: 0 !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
		margin-left: 1.5rem !important;
	}
	.charts {
		// flex-direction: row;
		// background-color: black !important;
		margin: auto;
		width: 90% !important;

	}
	.chartFather {
		margin-top: 0 !important;
		margin: 0 !important;
		margin-left: 1rem !important;
		margin-right: 1rem !important;
	}
	.barChartsContainer {
		display: flex;
		flex-direction: row !important;
	}
	.gridSwitchButton {
		padding: 0.5vh;
	}
}
