$box-shadow-slim-black: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
$box-shadow-thin-black: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
$box-shadow-small-black: 0px 0px 18px 0px rgba(0, 0, 0, 0.24);
$box-shadow-medium-black: 0px 0px 22px 0px rgba(0, 0, 0, 0.4);
$box-shadow-large-black: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);

$container-width: 1220px;


$color-base: #FAFAFA;
$color-base-dark: #ECF0F1;
$color-base-darker: #c4c4c4;
$color-base-darkest: #a3a3a3;
$color-primary: #181818;
$color-primary-light: #0B211F;

$color-accent: #273a48;//#00A69A;
$color-accent-dark: #2b998a;
$color-accent-darker: #246D5F;
// $color-accent-darkest: #105340;
$color-accent-darkest: #3c5853;

$color-table-header: #282c34;
$color-table-header-lighter:#3a404d;
$color-disabled:#6b6b6b;

$color-error: #cf443a;
$color-success: #36ad52;
$color-middle: #e9ec1e;
$color-nutural: #29477C;
$color-warning: #BCC44F;

$mobile-max: 840px;
$tablet-max: 881px;