// Badge

.badge {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  &[class*="badge-"] {
    [class*="icon-"] {
      line-height: 1;
    }

    a {
      color: $white;
    }

    span {
      vertical-align: middle;
    }

    svg {
      & ~ span {
        margin-left: 0.5rem;
      }
    }
  }

  // square badge
  &.badge-square {
    border-radius: 0;
  }

  // badge-up
  // to align badge over any element
  &.badge-up {
    position: absolute;
    top: -1rem;
    right: -1rem;
    &.badge-sm {
      top: -0.5rem;
      right: -0.5rem;
    }
  }
}

// badge sizes
.badge-xl {
  font-size: 1.8rem;
}
.badge-lg {
  font-size: 1.2rem;
}
.badge-md {
  font-size: 1rem;
}
.badge-sm {
  font-size: 0.7rem;
}

// For fullscreen search
.badge-icon {
  svg {
    font-size: 100%;
    margin-right: 5px;
  }
}

// badge dropup pointer
.dropup {
  .badge {
    cursor: pointer;
  }
}
