.login-container {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	max-width: 32rem !important;
	min-width: 32rem !important;
	border-radius: 10px !important;
}


.app-login {
	max-height: 34rem !important;

}

.password-rules {
	margin-left: 19rem;
	margin-bottom: 10px;
}

@media screen and (max-width: 414px) {
	.g-recaptcha {
		position: relative;
		left: 50%;
		-o-transform: scale(0.8) translateX(-50%);
		-ms-transform: scale(0.8) translateX(-50%);
		-moz-transform: scale(0.8) translateX(-50%);
		-webkit-transform: scale(0.8) translateX(-50%);
		transform: scale(0.8) translateX(-50%);
		-o-transform-origin: left center;
		-ms-transform-origin: left center;
		-moz-transform-origin: left center;
		-webkit-transform-origin: left center;
		transform-origin: left center;
	}
}

// .recaptcha_container{ 
// 	max-width: 250px;
// 	background: #ccc;
// }


// .g-recaptcha {
// 	transform-origin: left top;
// 	-webkit-transform-origin: left top;
//   }


// @media only screen and (max-width: 500px) {
// 	.g-recaptcha {
// 	transform:scale(0.77);
// 	transform-origin:0 0;
// 	}
// 	}


@media only screen and (max-width: 767px) {
	/* For mobile phones: (no ipad)*/

	.mobile-background {
		background-color: #f3f3f5 !important;
	}

	.password-rules {
		margin-left: -0.6rem;
		margin-bottom: 30rem;
	}

	.nav.nav-tabs .nav-item .nav-link {
		padding: 0.5rem !important;
		font-size: 1rem !important;
	}

	.app-login {
		width: 100% !important;
	}

	.login-container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		width: 100% !important;
		max-width: 100% !important;
		min-width: 100% !important;
		border-radius: 0px !important;

	}
}
