.catalog {
	td,
	th {
		border: 1px solid #999;
		padding: 0.5rem;
	}

	button {
		border: none;
		background-color: transparent;
	}
	&__title {
		font-size: 1.6rem;
		font-weight: bolder;
		text-align: left;
		color: #1e1e20;
	}

	.catalogGrid {
		position: relative !important;

		.catalogLoadingSpinner {
			position: absolute !important;
			right: 45% !important;
			top: 20rem !important;
		}
	}
	&__filterButton {
		top: 2.9rem;
		left: 24.5rem;
		z-index: 25;
		color: black !important;
		font-weight: bold;
		// outline: 0 !important;
	}
	&__AddItemExcel {
		width: 80%;
		// position: absolute;
		// top: 10.26rem;
		// width: 65rem;
		z-index: 25;
		// top: 2.9rem;
		// left: 27rem !important;
		// z-index: 25;
	}
}