@import 'normalize.css';
@import '@src/settings';
@import '@src/assets/styles/row';
@import '@src/assets/styles/files';
@import '@src/assets/styles/grid';
@import '@src/assets/styles/tasks';
@import '@src/assets/styles/title';
@import '@src/assets/styles/colors';
@import '@src/assets/styles/content';
@import '@src/assets/styles/summary';
@import '@src/assets/styles/account';
@import '@src/assets/styles/contractor';
@import '@src/assets/styles/progress-bar';
@import '@src/assets/styles/utilities/done';
@import '@src/assets/styles/utilities/warning';
@import '@src/assets/styles/utilities/inactive';
@import '@src/assets/styles/utilities/mandatory';
@import '@src/assets/styles/utilities/text-align';

.select__indicator {
    padding : '0 0.5vw!important'
}

.custom-control-label {
    cursor : pointer!important;
}

.app-login {
    position: relative;
    width: 100%;
    height: 100%;
    background: #ffffff;

    .login-container {
        margin:0 auto;
        padding-top: 5%;
        max-width: 320px;
    }

    .input-row {
        display: flex;
        align-content: center;
        align-items: center;
        margin-bottom: 1em;

        &>label {
            min-width: 100px;
        }

        &>input {}

        .input-row-submit {
            flex:1;
            padding: 1em;
            width: 100%;
            background-color: #dadada;
            transition: background-color 0.25s ease;
            &:hover{
                background-color: #00A69C;
                cursor: pointer;
            }
        }
    }
}

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: inherit;
	}

	input,
	button {
		outline: 0;
	}
}


button {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    }
.n-row {
    width: fit-content;
    .n-btn-delete {
        position: absolute;
        opacity: 0;
        right: -2.75rem;
        top: .5rem;
        visibility: hidden;
        
		@include hover {
			box-shadow: 0 0 0.625rem 0 $color-light2;
		}

    }

    &__color {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 0.5rem;
		height: 2.7rem;//100%;
		background-color: $color-gray;
		border-top-left-radius: 0.3125rem;
		border-bottom-left-radius: 0.3125rem;
	}
    .n-btn-arrow-down {
        border-radius: 50%;
		@include hover {
			box-shadow: 0 0 0.625rem 0 $color-light2;
		}

    }

    .options{
                            background-color: transparent!important;
                            border: 0!important;;
                            display: flex!important;;
                            align-items: center!important;;
                            justify-content: center!important;;
                            position: absolute;
                            right: 0;
                            top: 0;

       svg {
           z-index: 3;
       }  
    }
}



.font-family-Assistant {
   font-family: 'Assistant', serif;
}

@import '@src/assets/styles/colors';
.n-row {

    .n-btn-delete {
        position: absolute;
        opacity: 0;
        right: -2.75rem;
        top: .5rem;
        visibility: hidden;
    }
    .n-btn-delete:hover {
        box-shadow: 0 0 0.625rem 0 $color-light;
    }


}

.n-row:hover {
box-shadow: 0 0 0.625rem 0 $color-light;

.n-btn-delete {
    visibility: visible;
    opacity: 1;
}
}