$color-base: #333;
$color-error: #f00;
$color-action: #00f;
$color-warning: #ff0;
$color-white: #fff;
$color-black: #000;
$color-black2: #131313;
$color-black3: #2d2c2c;
$color-turquoise:#31baab;
$color-black4: #453937;
$color-black5: #4c413f;
$color-blue: #3150ff;
$color-blue2: #a1ffff;
$color-blue3: #44a6f5;
$color-blue4: #dce1ff;
$color-blue5: #243ed1;
$color-blue6: #8ea1fc;
$color-green: #82c786;
$color-green2: #47894b;
$color-green3: #06bf85;
$color-light: #eef2f9;
$color-light2: #d2d7e0;
$color-light3: #d7d7e0;
$color-light4: #e7e7e7;
$color-light5: #e7edf3;
$color-dark: #32325d;
$color-gray: #707090;
$color-light-gray: #babac1;
$color-gray1: #f3f3f5;
$color-gray2: #b7bec7;
$color-gray3: #9898ae;
$color-gray4: #9b9b9b;
$color-gray5: #d8d8e4;
$color-gray6: rgba(152, 152, 174, 0.7);
$color-gray7: #ccccd7;
$color-gray8: #dbdce3;
$color-gray9: #30353c;
$color-gray10: #979797;
$color-gray11: #d8d8d8;
$color-gray12: #dadfe7;
$color-gray13: #d3d3d3;
$color-gray14: #7c7b9c;
$color-gray15: #f4f4f4;
$color-yellow: #ffa828;
$color-light-purple: #707090;
$color-red: #ff5050;
$color-red2: #f15c47;
$color-red3: #e57373;
$color-opacity: rgba(255, 255, 255, 0.1);
