.accordion {
	padding: 20px;
	border-radius: 3px;
	border: solid 3px #f3f3f5;
	height: auto !important;
	max-height: none !important;

	&__button {
		background: transparent;
		border: none;
		font-size: 1.15rem;
		font-weight: bold;
		color: #1e1e20;

		&_icon {
			display: inline-block;
			transition: all .2s;
		}

		&_text {
			display: inline-block;
			margin-left: 1.3rem;
		}

		&.active-rtl {
			color: #31baab;

			.accordion__button_icon {
				display: flex;
				justify-content: center;
				align-items: center;
				transform: rotate(90deg);
			}
		}
		&.active-ltr {
			color: #31baab;

			.accordion__button_icon {
				display: flex;
				justify-content: center;
				align-items: center;
				transform: rotate(270deg);
			}
		}
		&:focus {
			outline: none;
		}

		&_end-arrow {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.accordion__button_text {
				margin-left: 0;
				margin-right: auto;
			}

			.accordion__button_icon {
				order: 1;
			}
		}
	}

	&__content {
		box-sizing: content-box;
		overflow: hidden;
		transition: all .2s;

		// &.is-open {
		// 	overflow: visible;
		// 	// border: 2px solid black;
		// 	margin-top: 30px;
		// }
	}
}

.settingSupplierAreaAccordion{
	border: 0 !important;
	border-bottom: 0.5px solid #f3f3f5 !important;
	border-top: 0.5px solid #f3f3f5 !important;
	width: 100% !important;
	margin: 0 !important;
	font-size: 10px !important;
}
