.groupItem {
	// padding: 0.3rem;
	padding: 0.3rem 0 0.3rem 1.2rem;
	// padding-left: 1.2rem ;
	border-radius: 3px;

	&__button {
		background: transparent;
		border: none;
		font-size: 1.1rem;
		font-weight: bold;
		color: #1e1e20;

		&_icon {
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.2s;
		}

		&_text {
			display: inline-block;
			margin-left: 0.3rem;
			margin-right: 0.5rem;
		}

		&.active-rtl {
			color: #31baab;

			.groupItem__button_icon {
				display: flex;
				justify-content: center;
				align-items: center;
				transform: rotate(90deg);
			}
		}
		&.active-ltr {
			color: #31baab;

			.groupItem__button_icon {
				display: flex;
				justify-content: center;
				align-items: center;
				transform: rotate(270deg);
			}
		}

		&:focus {
			outline: none;
		}

		&_end-arrow {
			width: 100%;
			display: flex;
			justify-content: space-between;

			.groupItem__button_text {
				margin-left: 0;
			}

			.groupItem__button_icon {
				order: 1;
			}
		}
	}

	&__content {
		box-sizing: content-box;
		overflow: hidden;
		transition: all 0.2s;

		&.is-open {
			overflow: visible;
			// border: 2px solid black;
			// margin-top: 30px;
		}
	}
}
.fatherBorder {
	border-top: 0.5px solid #f3f3f5 !important;
	border-bottom: 0.5px solid #f3f3f5 !important;
}

.mappingFields { 
	margin-top: 6rem;
}

@media screen and (max-width: 1300px) {
	.breakOn1300 {
		flex-direction: column;
	}
	.maxWidthOnBreak {
		max-width: 50rem !important;
	}

	.mappingFields { 
		margin-top: 0rem;
	}
}
